{% extends "site.html" %}
{% block title %}PyLadies BBSR{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Bhubaneswar</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/bbsr") }}">Bhubaneswar</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:bbsr@pyladies.com" title="Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/PyladiesBbsr"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}


