{% extends "site.html" %}
{% block title %}PyLadies BBSR{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Bhubaneswar</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/bbsr") }}">Bhubaneswar</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:bbsr@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/PyladiesBbsr"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
