{% extends "site.html" %}
{% block title %}PyLadies Raleigh-Durham{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Raleigh-Durham</h1>
            <article>
                <ul class="social">
                    <aside>
                      <h4>
                        <a href="{{ get_url("locations/rdu") }}">Raleigh-Durham, North Carolina</a> |
                        <a class="social icon vcard" data-icon="&#59170;"
                           href="mailto:rdu@pyladies.com"
                           title"Contact">
                        </a>
                        <a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-rdu/">
                        </a>
                      </h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
