{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div id="content">
    <div id="upcomingMeetupsList"></div>
    <h2> Upcoming Meetups</h2>
    <dl>
      <dd class="meetup_event_date">Saturday April 30th, 2016, 11:00AM EST</dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a
        href="https://www.eventbrite.com/e/learn-testing-with-python-tickets-24365642292"
        target="_blank">
        Learn Testing with Python
        </a>
      </dt>
      <dd class="meetup_event_description">
        <p>
          Tired of trying to check your code by hand?  Interested in testing
          but not sure where to begin?  This class will teach you the basics of testing
          in Python.
        </p>
        <p>
          We'll cover:
        </p>
        <p>
          <ul>
            <li>
              The pros and cons of testing your code, and when it's most important to do
              so.
            </li>

            <li>
              How to make a simple set of tests using unit tests, included basic building
              blocks like assertions and setUp/tearDown. (Don't know what those terms mean
              yet?  That's what the class is for!)
            </li>

            <li>
              The Coverage tool, which helps you track how much of your code has tests.
            </li>
          </ul>
        </p>
        <p>
          We'll also briefly talk about more advanced testing topics, such as mocks,
          factories, integration testing with Selenium, automated testing, and test
          driven development, just to give folks a lay of the testing landscape.  :)
        </p>
      </dd>
    </dl>
    <div id="PastMeetupsList"></div>
    <h2> Past Meetups</h2>
    <dd class="meetup_event_date">Saturday March 12th, 2016, 3:30pm-5:30pm CET</dd>
    <dd class="meetup_event_venue">Google Hangout on Air </dd>
    <dt>
      <a
      href="https://www.eventbrite.com/e/python-dictionaries-tickets-22429986694"
      target="_blank">
      Python Dictionaries
      </a>
    </dt>
    <dd class="meetup_event_description">
      <p>
        The dictionary is a widely used data structure which maps values with the keys used to get
        them, with the requirement that the keys are unique. This class takes you through a tour of
        the working of Python dictionaries.</p>
      <p> What will you learn?</p>
      <ul>
        <li><p>What exactly is a dictionary?</p></li>
        <li><p>What is the difference between lists, dictionaries and tuples?</p></li>
        <li><p>What operations can be done on dictionaries?</p></li>
        <li><p>What makes dictionaries awesome?</p></li>
        <li><p>Nested dictionaries</p></li>
        <li><p>Use cases of dictionaries</p></li>
        <li><p>When not to use dictionaries</li></p>

        <p> Ready to spend your Saturday afternoon learning something fun?</p>
        <p>Sign up for the class <a
          href="https://www.eventbrite.com/e/python-dictionaries-tickets-22429986694"
            >here!</a></p>
    </dd>
    <dd class="meetup_event_date">Saturday February 20th, 2016, 9:00am-11:00am CST</dd>
    <dd class="meetup_event_venue">Google Hangout on Air </dd>
    <dt>
      <a
      href="https://www.eventbrite.com/e/introduction-to-computational-linguistics-with-python-tickets-21414898538"
      target="_blank">
      Introduction to Computational Linguistics with Python
      </a>
    </dt>
    <dd class="meetup_event_description">
      <p>
          A brief introduction to Computational Linguistics by Giovanni De Gasperis, where we'll do
          some basic analyses by writing small Python programs.
          Computational Linguistics is a multidisciplinary research area where linguists and computer
          scientists collaborate to analyze unstructured text in its primitive form, i.e. not
          actually trying to read it and doing natural language understanding, but more specifically
          calculating statistical properties out of large text corpora, independently from the
          language by which the text has been produced.
          Typical results are: the most occurrent text forms in absolute or in relation to other
          forms, extract most significant keywords, build the corpus vocabulary. More advanced
          results are lemmatization, part of speech tagging, semantic categories tagging and much
          more.
          A text will be downloaded from the web and it will be analyzed writing small Python
          programs that can produce some of the basic results mentioned above.
        </p>
    </dd>
      <dd class="meetup_event_date">Saturday January 30, 10:00am-11:00am PST </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/your-first-conference-proposal-tickets-20707409419" target="_blank">
        Your First Conference Proposal!</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Speaking at conferences is a great way to get to know new people, travel the country (and the world!), learn new techniques,
          and network with other developers. But submitting your first conference presentation can be daunting.
          You might not be sure how much detail to include or how formal to me. You might even think that your perspective isn't valuable.</p>
        <p>In this PyLadies Remote class, we'll start with a discussion of impostor syndrome and how you can overcome it to start your
          speaking career. Multiple and diverse voices add value to all conferences, so we'll talk about how to get yourself a speaker
          mentor, how to build confidence, and the importance of rehearsal. Then we'll get into the nitty gritty of what conferences
          are looking for in a proposal. By the end of the meeting, you'll have a list of conferences to apply for, some ideas for what
          to present, and a plan for giving your first conference talk in 2016.</p>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/your-first-conference-proposal-tickets-20707409419">here!</a></p>
          <p>Here are the links to the <a href="https://plus.google.com/events/csta0ll2cpq67d6sjlor1ohurp4 ">live stream</a> and
            to the <a href="https://tlk.io/pyladiesremote">help chat</a>Lacey will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
      <dd class="meetup_event_date">Saturday November 21, 9:00am-10:30am PST </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/python-list-comprehensions-tickets-19369488662" target="_blank">
        Python List Comprehensions</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Let's learn about some looping techniques we can use to make our code more
          readable and more Pythonic. We'll learn about list comprehensions,
          set comprehensions, dictionary comprehensions, and generator expressions.
          Yay Python!</p>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/python-list-comprehensions-tickets-19369488662">here!</a></p>
          <p>Here are the links to the <a href="https://plus.google.com/u/0/events/csvika6tcr1rfuarp6scdpgutrs">live stream</a> and
            to the <a href="https://tlk.io/pyladiesremote">help chat</a> Trey will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday October 4th, 11:00am-1:00pm CDT </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/from-guess-and-check-to-recursion-tickets-18329147975" target="_blank">
        From Guess and Check to Recursion!</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Recursion - what is it? (A way to break down a problem into smaller pieces which
          you either already know the answer to!)</p>
        <p>In this class we'll solve two to three problems starting first with our tried and
          true guess and check logic. Once we know how to break the problem down and solve
          it with exhaustive enumeration, we'll retool our approach to apply recursion to our code.</p>
        <p>The class will make use of psuedocode and, time permitting, do a Big O analysis on
          each implementation.</p>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/from-guess-and-check-to-recursion-tickets-18329147975">here!</a></p>
          <p>Here are the links to the <a href="https://plus.google.com/events/ca5obo3ho0tish70fs64klqae4k">live stream</a> and
            to the <a href="https://tlk.io/pyladiesremote">help chat</a> Lorena will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday September 20, 09:30am-11:30am EDT </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/lets-learn-git-in-your-pjs-tickets-18289350941" target="_blank">
        Let's learn Git in Your PJs</a>
      </dt>
      <dd class="meetup_event_description">
        <p>It's time to get comfortable with git!</p>
        <p>Today, git is the go-to for versioning. If you want to go code in the open
          source community, chances are good that you're going to have to learn about git.</p>
        <p>In this class, we're going to go over:</p>
          <ul>
            <li><p>What exactly IS git? </p></li>
            <li><p>Installing it </p></li>
            <li><p>Creating repositories  </p></li>
            <li><p>Branching, merging, rebasing, tagging</p></li>
            <li><p>Fixing merges</p></li>
            <li><p>Working with Github </p></li>
            <li><p>Getting information out of git </p></li>
            <li><p>Tricks and tips </p></li>
          </ul>
          <p>In order to participate in this class, you'll need a GitHub account and a computer
             with admin rights. You'll be playing around with a repo on Katie Cunningham's
             account, so you won't need to do anything but sign up!</p>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/lets-learn-git-in-your-pjs-tickets-18289350941">here!</a></p>
          <p>The link to the live stream will be added to Eventbrite page before the class so please
            keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday August 23, 09:30am-12:30pm EDT </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/intro-to-python-3-in-your-pjs-tickets-18000972393" target="_blank">
        Intro to Python 3 in Your PJs</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Yes! Katie Cunningham will finally be going over Python 3!</p>
        <p>This is a class for the new developer, and works not only for those new to programming, but also to Python.</p>
        <p>For this class, Katie will be using Google Hangouts on Air and
          <a href="https://c9.io">Cloud 9</a>. Make sure that you have a C9 account before the class starts!
          Everyone should be fine using the free tier.</p>
        <p>Rough outline:</p>
          <ul>
            <li><p>Storing and manipulating data</p></li>
            <li><p>Getting information from the user </p></li>
            <li><p>Logic and flow control </p></li>
            <li><p>Using the standard library </p></li>
            <li><p>Projects of interest</p></li>
          </ul>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/intro-to-python-3-in-your-pjs-tickets-18000972393">here!</a></p>
          <p>The link to the live stream will be added to Eventbrite page before the class so please
            keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday August 16, 09:30am-11:00am EDT </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/introduction-to-scraping-and-scrapy-tickets-18001063666" target="_blank">Introduction to Scraping and Scrapy</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Web scraping (web harvesting or web data extraction) is a computer software technique of extracting information from websites.  -- wiki</p>
          <p>What you need?</p>
          <ul>
            <li><p>A <a href="https://mail.google.com/">Gmail Account</a>.</p></li>
            <li><p><a href="https://c9.io">Cloud9 account</a>.</p></li>
            <li><p>Love for <a href="https://www.python.org">Python</a>.</p></li>
            <li><p>Internet Obviously. :)</p></li>
            <li><p>Doubts, questions, drop them <a href="https://tlk.io/pyladiesremote">here</a>.</p></li>
          </ul>
          <p>What you will learn?</p>
          <ul>
            <li><p>Installing Scrapy and anything that we need.</p></li>
            <li><p>What is scraping?</p></li>
            <li><p>Why Scrape at all?</p></li>
            <li><p>What all you can scrape?</p></li>
            <li><p>How to write a scraper?</p></li>
            <li><p>Why Scrapy is awesome?</p></li>
            <li><p>Why Scrapy is not that awesome?</p></li>
            <li><p>What is xpath? Why they are so useful in scraping?</p></li>
            <li><p>What all you have in Python World to Scrape?</p></li>
          </ul>
          <p>You are a beginner in Python? Yes? Please join in. :)</p>
          <p>No? I promise you will learn something new and interesting. :)</p>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/introduction-to-scraping-and-scrapy-tickets-18001063666">here!</a></p>
          <p>The link to the live stream will be added to Eventbrite page before the class so please
            keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesremote">help chat</a> Tapasweni will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday July 26, 02:30pm-05:30pm CEST </dd>
      <dd class="meetup_event_venue">Livecoding.tv </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/introduction-to-django-tickets-17678186933" target="_blank">Introduction to Django</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Emmanuelle Delescolle will teach you how to create a ToDo App with Django!</p>
          <p>Here are the steps that she will guide you through:</p>
          <ul>
            <li><p>We'll install a stlightly prepared django project using cookiecutter in order to save time (with preloaded bootstrap, custom css, required apps already installed, db initialized with superuser)</p></li>
            <li><p>We'll jump directly into urls.py (with explanation on how a django/wsgi app is different from basics html/php/asp/jsp based sites if part of the audience has experience with those)</p></li>
            <li><p>We'll have a brief intro of TemplateView and Django templates and template inheritance.</p></li>
            <li><p>We'll do a complete intro on models/makemigrations/migrate</p></li>
            <li><p>We'll have a brief description of the admin and how to create a ModelAdmin</p></li>
            <li><p>We'll move towards ListView, CreateView and UpdateView</p></li>
            <li><p>We'll create a custom View class (to set a todo as done from the list) based on RedirectView</li></p>
          </ul>
          <p>If there's time left:</p>
          <ul>
            <li><p>We'll do an ajax version of the last step so the page doesn't need to be reloaded when setting a todo as done and see how django can behave differently for ajax and regular requests</p></li>
          </ul>
          <p>Emmanuelle will use cloud9 for her class. If you don't have a cloud9 account, please <a href="https://c9.io">sign up</a> before the class It's free!</p>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/introduction-to-django-tickets-17678186933">here!</a></p>
          <p>Here is the link to the <a href="https://www.livecoding.tv/emma/">stream</a>
            and to the <a href="https://tlk.io/pyladiesremote">help chat</a> Emmanuelle will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday July 19, 09:30am-12:30pm EDT </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/learn-javascript-in-your-pjs-tickets-17646464049" target="_blank">Learn JavaScript in Your PJs!</a>
      </dt>
      <dd class="meetup_event_description">
        <p>Yes, this is a Python group, but if you want to do web dev,
          you'll want to learn Javascript!</p>
          <p>In this online class, Katie Cunningham will teach you the basics of
            Javascript, including:</p>
          <ul>
            <li><p>Storing and manipulating data</p></li>
            <li><p>Manipulating HTML</p></li>
            <li><p>Logic and flow control</p></li>
            <li><p>Objects</p></li>
            <li><p>Functions</p></li>
            <li><p>Debugging</p></li>
            <li><p>Frameworks</li></p>
          </ul>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/learn-javascript-in-your-pjs-tickets-17646464049">here!</a></p>
          <p>Here is the link to the <a href="https://plus.google.com/u/0/events/ck2c0c52a66u7s7juk8anjcnbo0">Google Hangout on Air</a>
            and to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
          <p>Both links won't be active until about a half an hour before the class starts.</p>
      </dd>
    </dl>
    <dl>
      <dd class="meetup_event_date">Sunday June 28, 09:30am-12:30pm EDT </dd>
      <dd class="meetup_event_venue">Google Hangout on Air </dd>
      <dt>
        <a href="https://www.eventbrite.com/e/learn-python-in-your-pjs-tickets-17362458581" target="_blank">Learn Python in Your PJs!<!--</a>-->
      </dt>
      <dd class="meetup_event_description">
        <p>
          <a href="http://twitter.com/kcunning">Katie Cunningham</a>
          will teach you the basics of Python! And the best part about it: You can
          take the class from home, in your PJ's!</p>
          <p>This is a class for absolutely beginners, so don't worry about
            not having enough experience.</p>
          <p>Katie will cover:</p>
          <ul>
            <li><p>What is Python, and what can it do?</p></li>
            <li><p>Saving data</p></li>
            <li><p>Manipulating data</p></li>
            <li><p>Data types</p></li>
            <li><p>Repeating code</p></li>
            <li><p>Creating functions</p></li>
            <li><p>Using the Python Standard Library</li></p>
            <li><p>What next?</li></p>
          </ul>
          <p>For this class, Katie will be using <a href="https://c9.io">Cloud 9</a>.
            You can feel free to use the Python installed on your machine, but it's much,
            MUCH easier to share errors with Katie when you use Cloud 9.</p>
          <p>Class pre-requisites:</p>
          <ul>
            <li><p>A stable Internet connection
              (please, don't do this from a coffee shop!)</p></li>
            <li><p>A Cloud 9 account (it's free!)</p></li>
            <li><p>Some caffeine :) </p></li>
          </ul>
          <p>Sign up for the class <a href="https://www.eventbrite.com/e/learn-python-in-your-pjs-tickets-17362458581">here!</a></p>
          <p>An email with the link to the Google Hangout on Air and the
            corresponding help chat will be sent out about an hour before
            the class, so check your emails!</p>
      </dd>
    </dl>
  </div>
</div>


{% endblock %}
