{% extends 'layout.html' %}

{% block content %}

  <article class="how-block section">
    <h3>Get Involved!</h3>
    <p>How does an organization like PyLadies happen? With help!</p>
    <p>We're looking for event speakers and hosts, donations of time (ie. as a TA or mentor) or material goods (like event refreshments and funds). If you love coding in Python, we're excited to meet you!</p>
    <p><a href="mailto:chicago@pyladies.com">Contact us: chicago@pyladies.com</a></p>
  </article>

  {% endblock %}