{% extends "site.html" %}
{% block title %}PyLadies Budapest{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Budapest</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/budapest")}}">Budapest</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:budapest@pyladies.com" title"Contact"></a><a class="social icon facebook" data-icon="&#62221" title="Facebook" href="https://www.facebook.com/pyladiesbudapest"></a></h4>
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
