{% extends "site.html" %}
{% block title %}PyLadies Paris{% endblock %}

{% block style %}
    <meta charset="UTF-8">
    <style>
    article {
        text-align: justify;
    }
    </style>
{% endblock %}

{% block content %}
        <h1>Introduction</h1>
            <article>
				<h2>Bonjour !</h2>

				<p>Nous sommes un groupe de mentoring qui a pour objectif d'aider les femmes (cis et trans), les hommes trans, les genderqueer ou les agenré⋅e⋅s à devenir des membres actifs et des leaders dans la communauté open-source Python.</p>

                <p>Nous organisons plusieurs types d’évènements : des ateliers de programmation et des meetupus en non-mixité ainsi que des conférences où les <a href="https://fr.wikipedia.org/wiki/Cisgenre">hommes cis</a> pourront venir uniquement en tant que +1 d'un⋅e membre du groupe.</p>

                <p>N'hésitez pas à venir, quelque soit votre niveau en Python :)</p>

                <h2>Où nous trouver ?</h2>
                <ul>
                    <li>Sur Twitter : <a href="https://twitter.com/PyLadiesParis" target="_blank">@PyLadiesParis</a>.</li>
                    <li>Sur Meetup : <a href="http://www.meetup.com/fr/PyLadies-Paris" target="_blank">PyLadies-Paris</a>.</li>
		    <li>Sur GitHub : <a href="https://github.com/PyLadiesParis" target="_blank">PyLadies-Paris</a>.</li>
                </ul>

                <h2>Code de Conduite</h2>
                <p>En plus du code de conduite définit par Pyladies, nous suivons un code de confuite renforcé construit à partir de celui du <a href="http://geekfeminism.org/about/code-of-conduct">Geek Feminism Wiki</a>. Vous le trouverez dans la partie forum de notre page meetup.</p>
            </article>

            <article>
                <h2>Hello!</h2>
                <p>We are a mentorship group with a focus on helping more women, trans men, genderqueer or agender, become active participants and leaders in the Python open-source community.</p>

                <p>We organize multiple kinds events: Non-mixed code workshops and meetups but also talks where <a href="https://en.wikipedia.org/wiki/Cisgender">cis men</a> can come only if they are invited by a member of the group (+1).</p>

                <p>Don't be afraid to come: we're beginer friendly :)</p>

                               <h2>Where can you find us?</h2>
                <ul>
                    <li>On Twitter: <a href="https://twitter.com/PyLadiesParis" target="_blank">@PyLadiesParis</a>.</li>
                    <li>On Meetup: <a href="http://www.meetup.com/fr/PyLadies-Paris" target="_blank">PyLadies-Paris</a>.</li>
		    <li>On GitHub : <a href="https://github.com/PyLadiesParis" target="_blank">PyLadies-Paris</a>.</li>
                </ul>

                <h2>Code of conduct</h2>
                <p>We are using Pyladies code of conduct and a reinforced one based on <a href="http://geekfeminism.org/about/code-of-conduct">Geek Feminism Wiki CoC</a>. You can find it in the forum part of our meetup page.</p>
            </article>

        <h1>Organisatrice</h1>
            <article>
		<h2>Organisatrices</h2>
		<div class="col-md-4"><a href="https://twitter.com/PyViv" target="_blank"><img src="https://pbs.twimg.com/profile_images/455790894109560832/BzmzsU4a_400x400.jpeg" style="height: 128px; width: 128px;"/></a></div>
                <div class="col-md-4">Viviane Pons</div>
                <div class="col-md-4"><a href="https://twitter.com/anna_livia" target="_blank"><img src="https://pbs.twimg.com/profile_images/471910121170145280/_J7jBCMM.jpeg" style="height: 128px; width: 128px;"/></a></div>
                <div class="col-md-4">Anna-Livia Gomart</div>
            </article>
{% endblock %}

