<!DOCTYPE html>

<html lang="en">
<head>
    {% include 'page.header.html' %}
    
    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body role="document">

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ get_url() }}">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="mailto:charleston@pyladies.com">Contact</a></li>
            <li><a href="http://www.meetup.com/PyLadies-Charleston/">Join Us!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
      
<div id="content">
    {% block content %}{% endblock %}
</div>
  
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2014 Charleston PyLadies</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</body>
</html>