{% extends "site.html" %}
{% block title %}PyLadies Monterrey{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Monterrey</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/monterrey") }}">Monterrey</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:monterrey@pyladies.com" title="Contact"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Monterrey/"></a></h4>
                </aside>
                </ul>
            </article>
    </section>
{% endblock %}