{% extends "site.html" %}
{% block title %}PyLadies Helsinki{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Helsinki</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/helsinki") }}">Helsinki</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:helsinki@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Helsinki-Pyladies"></a></h4> 

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
