{% extends "site.html" %}
{% block title %}PyLadies Tunis{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Tunis</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/tunis") }}">Tunis</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:tunis@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/PyLadiesTunis"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
