<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>
          <a href="mailto:{{ site.email }}"><i class=icon-envelope></i></a>
          <a href="https://github.com/pyladies-brazil" target="blank"><i class=icon-github></i></a>
          <a href="https://twitter.com/PyLadiesBrazil" target="blank"><i class=icon-twitter></i></a>
          <a href="https://www.facebook.com/PyLadiesBrazil?ref_type=bookmark" target="blank"><i class=icon-facebook></i></a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
