{% extends 'site.html' %}

{% block content %}
    <section id="archive">
        <h1>Welcome!</h1>
        <img src="{{ get_asset('images/pylady_geek.png') }}" width="150" height="83">
        <!-- Begin MailChimp Signup Form -->
        <article>
            <p>PyLadies is an international mentorship group with a focus on helping more women become active participants and leaders in the Python open-source community. Our mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings.</p>

            <p>PyLadies also aims to provide a friendly support network for women and a bridge to the larger Python world. Anyone with an interest in Python is encouraged to participate!</p>
        </article>
        <article>
            <div id="mc_embed_signup">
            <form action="http://pyladies.us2.list-manage1.com/subscribe/post?u=9d20e0bc6bc0e88a076738c6f&amp;id=23e4f35e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">Keep up with what's going in the PyLadies community on our low-volume announcement list. Men and women from everywhere are welcome.</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
            </div>
        </article>
    </section>
{% endblock %}
