-f https://pypi.python.org
argh==0.26.2
asn1crypto==0.22.0
bcrypt==4.0.1
cffi==1.15.1
cryptography==41.0.3
docutils==0.14
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
Jinja2==3.1.6
MarkupSafe==1.1.1
pathtools==0.1.2
pyasn1==0.3.2
pycparser==2.18
Pygments==2.15.0
PyNaCl>1.1.2
PyYAML==5.3.1
six==1.11.0
watchdog==0.10.2
# below is commented out for CI - see netlify.toml for explanation
# hoep==1.0.2
# mynt==0.4.0