{% extends "site.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Blog</h1>
            <article>
                <h2>Blog</h2>
                {% for post in posts %}
                    {% if not 'resources' in post.category and not 'codeconduct' in post.category %}
                        <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                        <time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time>
                        <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Read more &rarr;</a></p>
                    {% endif %}
                {% endfor %}
            </article>
    </section>
{% endblock %}
