{% extends "site.html" %}
{% block title %}PyLadies Mexico City{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Mexico City</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/cdmx") }}">Mexico City</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:mx@pyladies.com" title="Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/MxPyladies"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="https://www.meetup.com/Mexico-City-Pyladies-Meetup"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
