{% extends "site.html" %}
{% block title %}PyLadies Toronto{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Toronto</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/toronto") }}">Toronto</a> | <a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Toronto/"></a></h4> 

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
