{% extends 'layout.html' %}


{% set title = post.title %}

{% block content %}
    <div class="item">
        <div class="header">
            <h1>{{ post.title }}</h1>
            <h2>{{ post.date }}{% if post.tags %} <span>&raquo;</span> {% for tag in post.tags %}<a href="{{ get_url(tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</h2>
        </div>
        
        <div class="body">
            {{ post.content }}
        </div>
    </div>
{% endblock %}
