<!DOCTYPE html>

<html>
<head>
    {% if site.title %}
    <title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
    <link rel="stylesheet" href="{{ get_asset('css/pygments.css') }}" media="screen" title="screen">
    <link rel="stylesheet" href="{{ get_asset('css/screen.css') }}" media="screen" title="screen">
    <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/ico" />
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{ get_url('feed.xml', true) }}" />
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css"> #mc_embed_signup{background:#313236; clear:left; font:14px "Myriad Pro",myriad-pro,Trebuchet,serif; color: #FCFBE3;}
    </style>
</head>

<body>
    <nav>
        
        <ul class="nav-wrapper">
            <li><a href="{{ get_url('/') }}">Home</a></li>
            <li><a href="{{ get_url('about/') }}">About</a></li>
            <li><a href="{{ get_url('blog/') }}">Blog</a></li>
            <li><a href="{{ get_url('locations/') }}">Locations</a></li>
        </ul>
        <a href="/"><img src="{{ get_asset('images/pyladies_logo.png') }}" width="300" height="130"></a>
        <ul class="nav-wrapper">
            <li><a href="{{ get_url('sponsor/') }}">Sponsor Us</a></li>
            <li><a href="{{ get_url('resources/') }}">Resources</a></li>
            <li><a href="{{ get_url('CodeOfConduct/') }}">Code of Conduct</a></li>
            {% if site.feed %}<li><a href="{{ get_url('feed.xml') }}">Feed</a></li>{% endif %}
            <li><a href="mailto:info@pyladies.com?subject=Hello" id="contact-link">Contact</a></li>
        </ul>
    </nav>
    <div class="page">
        {% block content %}{% endblock %}
    </div>

    <div class="footer-wrapper">
            <footer id="bottom">
                <ul class="social">
                    <a class="icon google-plus" data-icon="&#62223;" href="https://plus.google.com/communities/108807002736066163985" title="Google+"></a>
                    <a class="icon github" data-icon="&#62208;" href="http://github.com/pyladies" title="GitHub"></a>
                    <a class="icon rss" data-icon="&#59194;" href="{{ get_url('feed.xml', true)}}" title="RSS"></a>
                    <a class="icon creative-commons" data-icon="&#128325;" href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons"></a>2007 - {{ None|date('%Y') }} PyLadies. All Rights Reserved.
                </ul>
            </footer>
    </div>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36930002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</body>
</html>