{% extends "site.html" %}
{% block title %}PyLadies dfw(dallas){% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies dfw(dallas)</h1>
            <article>
                <ul class="social">
                    <aside>

                        <h4><a href="{{ get_url("locations/dallas") }}">Dallas</a> |
                            <a class="icon-mail4" data-icon="&#xea86;"  href="mailto:dfw@pyladies.com" title"Contact"></a>
                            <a class="icon-facebook" data-icon="&#xea90;" target="_blank" href="https://www.facebook.com/DFWPyLadies" title="Facebook"></a>
                            <a class="icon-meetup" data-icon="&#xe901;" target="_blank" title="Meetup" href="http://www.meetup.com/DFW-PyLadies/"></a>
                        </h4> 
                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
