{% extends "site.html" %} {% block title %}PyLadies Hamburg{% endblock %} {% block content %}
<section id="archive">
    <h1>PyLadies Hamburg</h1>
    <article>
        <ul class="social">
            <aside>
                <h4>
                    <a href="{{ get_url(" locations/hamburg ") }}">Hamburg, Germany</a> |
                    <a class="social icon vcard" data-icon="&#59170;" href="mailto:hamburg@pyladies.com" title "Contact"></a>
                </h4>

            </aside>
        </ul>
    </article>
</section>
{% endblock %}