{% extends "site.html" %}
{% block title %}PyLadies Floripa{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Floripa</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/floripa") }}">Florianópolis, SC</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:floripa@pyladies.com" title="Contact"></a><a class="icon-instagram" data-icon="&#xea96;" title="Instagram Link" href="https://www.instagram.com/pyladiesfloripa/"></a><a class="icon-linkedin2" data-icon="&#xe901;" title="LinkedIn Link" href="https://www.linkedin.com/company/pyladies-floripa/?originalSubdomain=br"></a></h4>
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}