{% extends "site.html" %}
{% block title %}PyLadies La Paz{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies La Paz</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/lp") }}">La Paz, Bolivia</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:lp@pyladies.com" title="Contact"></a><a class="icon-facebook" data-icon="&#xea90;" href="https://www.facebook.com/pyladieslapaz/"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/PyladiesLaPaz"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/La-Paz-PyLadies-Meetup"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}


