{% extends 'layout.html' %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
<!--           <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide"> -->
          <div class="container">
            <div class="carousel-caption">
                <img id="logo" src="{{get_asset('images/pyladies_boston_logo.png')}}">
              <h1>PyLadies Boston</h1>
              <p>We are a group of women developers who love the Python programming language. Some of us hack on Python projects on the side, some work full-time on Python development, and some are just starting to learn. We host weekly beginner meetups, monthly presentation and tutorial nights, and occasional hack days. Free and open to all who identify as women or genderqueer.</p>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.carousel -->


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{{ get_asset('images/twitter.png') }}" alt="@PyLadiesBoston">
          <p>
            <div class="twitter-feed">        
                <a class="twitter-timeline" href="https://twitter.com/PyLadiesBoston" data-widget-id="376404988924141568" height="600">Tweets by @PyLadiesBoston</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ get_asset('images/michelle.jpg') }}" alt="michelle_fullwood">
          <h2>Featured Bio</h2>
          <h3>Michelle Fullwood</h3>
            <p><strong>1) What is your background?</strong><br/>
            I started my programming career with tiny personal projects like scraping library catalogues, and eventually found myself using this knowledge at work to build speech and natural language processing engines, and later Django webapps. I returned to grad school in linguistics at MIT in 2010 and I'm now in my final year.</p>
            <p><strong>2) Why did you join PyLadies?</strong><br/>
            I've learned a lot from the Python community in Boston and I wanted to give back. I enjoy sharing my Python knowledge through presentations to the group and by helping individual learners with their projects at our weekend project meetups. It's always exciting to see the breadth of projects our PyLadies are working on, and I often find myself learning as much from them as they do from me.</p>
            <p><strong>3) What are you most excited about creating with Python?</strong><br/>
            Just about anything relating to my major interests, which are languages, maps, and education. Luckily, Python has great support for all of these. I've been experimenting with scikit-learn and Python's GIS ecosystem recently, in building a map of Singapore with each street colour-coded for its language of origin. I'm also really excited about learning Kivy to make apps for teaching languages.</p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{ get_asset('images/github.png') }}" alt="Connect">
          <h2>Connect with us!</h2>
            <a href="https://github.com/PyLadies-Boston"><img class="icon" src="{{ get_asset('images/github.png') }}" width="65" height="65" alt="github"></a> Follow us on Github</br></br>
            <a href="http://meetup.com/PyLadies-Boston"><img class="icon" src="{{ get_asset('images/meetup.gif') }}" width="65" height="45" alt="meetup"></a> Join PyLadies Boston</br></br>
            <a href="mailto:boston[at]pyladies[dot]com"><img class="icon" src="{{ get_asset('images/email.png') }}" width="65" height="65" alt="email"></a> Contact the organizers</br></br>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <div id="organizers" class="row">
        <div class="col-lg-4 title">
          <h2>PyLadies Boston Organizers</h2>
        </div>
        <div class="col-lg-4">
          <a href="http://www.twitter.com/oboesqueaks"><img class="img-circle" src="{{ get_asset('images/jennifer.jpeg') }}" alt="@oboesqueaks"></a>
          <h2>Jennifer Konikowski</h2>
          <p>Jennifer was trained to be an industrial engineer but decided coding was more fun. She works on a mix of Ubuntu and OS X machines, coding in Python, Javascript, and Ruby. Follow her <a href="http://www.twitter.com/oboesqueaks">@oboesqueaks</a>.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="http://www.twitter.com/eudaimonious"><img class="img-circle" src="{{ get_asset('images/margaret.jpeg') }}" alt="@eudaimonious"></a>
          <h2>Margaret Scott</h2>
          <p>Margaret is a software engineer working at a small startup. She loves pair programming, old point and click adventure games, Central Square and cats. Follow her <a href="http://www.twitter.com/eudaimonious">@eudamonious</a>.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <a href="http://sassoni.github.io"><img class="img-circle" src="{{ get_asset('images/sassa.jpg') }}" alt="sassa"></a>
          <h2>Chrysanthi Chaleva</h2>
          <p>Chrysanthi is a software engineer currently doing Android development. She met Python through PyLadies and has been grateful ever since. She also goes by Sassa just to confuse people.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 PyLadies Boston</p>
      </footer>
{% endblock %}
