{% extends "site.html" %}
{% block title %}PyLadies Moscow{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Moscow</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/moscow") }}">Moscow, Russia</a> |
                            <a class="social icon vcard" data-icon="&#59170;" href="mailto:moscow@pyladies.com" title"Contact"></a>
                            <a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Moscow/"></a>

                        </h4>
                </aside>
                </ul>
            </article>
    </section>
{% endblock %}

