{% extends "site.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <section id="archive">
        <h1>About</h1>
        <article>
            <h2>We are...</h2>
            <p>...a group of women developers worldwide who love the Python programming language.  We write code by day or night.  Some of us hack on Python projects on the side, while others work full-time on Python development.  But it doesn't matter.  We all just like writing Python code, and that's what brings us together.</p>

            <h3>Please join us!</h3>
            <p>Are you an experienced female Python developer?  Or are you new and need help getting into Python development?</p>

            <p>Here's what to do:</p>
            <ol>
                <li>Join your local <a href="{{ get_url('/locations') }}">Meetup group</a> or start your own with our <a href="http://github.com/pyladies/pyladies-kit">PyLadies starter kit</a></li>
                <li>Join the PyLadies <a href="https://slackin.pyladies.com">Slack chat</a>.</li>
                <li><a href="mailto:info@pyladies.com">E-mail us</a></li>
            </ol>
            <p></p>
            <p>**Developers and aspiring developers only, please!  There are some fantastic groups for women in other areas of technology, which some of us participate in as well, but let's keep this group primarily focused on Python programming.</p>
        </article>
    </section>
{% endblock %}
