{% extends "site.html" %}
{% block title %}PyLadies Berlin{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Berlin</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/berlin") }}">Berlin, Germany</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:berlin@pyladies.com" title"Contact"></a></h4> 

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}