{% extends 'layout.html' %}


{% set title = 'Blog &rsaquo; Archives  &rsaquo; ' ~ archive.year %}

{% block breadcrumbs %}
    <ul id="breadcrumbs">
        <li><a href="{{ get_url() }}" data-pjax="#content">Blog</a><span>&rsaquo;</span></li>
        <li><a href="{{ get_url('archives/') }}">Archives</a><span>&rsaquo;</span></li>
        <li>{{ archive.year }}</li>
    </ul>
{% endblock %}

{% block content %}
    <dl class="horizontal archives">
        {% for month, posts in archive.months %}
            {% for post in posts %}
                <dt class="archives-post-date">{{ post.timestamp|date('%b %d') }}</dt>
                <dd class="archives-post-title"><a href="{{ get_url(post.url) }}">{{ post.title }}</a></dd>
                
                {% if post.tags %}
                    <dd class="archives-post-tags">Tagged <span>&raquo;</span> {% for tag in post.tags %}<a href="{{ get_url(tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </dl>
{% endblock %}
