{% extends 'layout.html' %}


{% set title = post.title %}

{% block breadcrumbs %}
    <ul id="breadcrumbs">
        <li><a href="{{ get_url() }}">Blog</a><span>&rsaquo;</span></li>
        <li>{{ post.title|truncate(75) }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="item">
        <div class="item-header">
            <h1>{{ post.title }}</h1>
            <h2>{{ post.date }}{% if post.tags %} <span>&raquo;</span> {% for tag in post.tags %}<a href="{{ get_url(tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</h2>
        </div>
        
        <div class="item-body">
            {{ post.content }}
        </div>
    </div>
{% endblock %}
