{% extends "layout.html" %}
{% block content %}
<div class="indented-text">
    <h1>Resources</h1>
    <ul id="resource-types">
    	<li><h3>Python</h3></li>
    	<ul>
    		<li><a href="http://www.codecademy.com/en/tracks/python">Codeacademy Python Track</a></li>
    		<li><a href="http://learnpythonthehardway.org">Learn Python the Hard Way</a></li>
    		<li><a href="https://www.youtube.com/watch?v=MirG-vJOg04">A Hands-on Introduction to Python for Beginning Programmers by Jessica McKellar</a></li>
    		<li><a href="https://www.coursera.org/course/pythonlearn">Programming for Everybody (Python)</a></li>
    	</ul>
    	<li><h3>Web Development</h3></li>
    	<ul>
        <li><a href="http://tutorial.djangogirls.org">Django Girls Tutorial</a></li>
    		<li><a href="https://hellowebapp.com">Hello Web App by Tracy Osborn</a></li>
        <li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial</a></li>
        <li><a href="http://www.codecademy.com/en/tracks/web">Codeacademy HTML and CSS Track</a></li>
    	</ul>
      <li><h3>Extra</h3></li>
      <li><a href="https://www.youtube.com/user/pykcunning/videos">"Programming in your PJ's!" screencasts by Katie Cunningham</a></li>



    </ul>
</div>
{% endblock %}
