{% extends "site.html" %}
{% block title %}Sponsor{% endblock %}
{% block content %}
    <section id="archive">
    <h1>Sponsor Us</h1>
        <article>
            <h2>Sponsor Us</h2>
            <h4>Why Help the PyLadies?</h4>

            <p>PyLadies want to bring fresh talent into the Python community and to support both seasoned and budding developers through workshops, community activities, and local advocacy. Your support of PyLadies' outreach efforts will pay off hugely over the long term by improving the diversity of the software industry as a whole.</p>

            <h4>How you can help</h4>
            <ol>
                <li>Email <a href="mailto:sponsors@pyladies.com">us</a>, indicating how you would like to sponsor Pyladies.</li>
                <li>Make a donation through the <a href="https://psfmember.org/civicrm/contribute/transact?reset=1&id=6">Python Software Foundation</a>.  Donations made are tax-deductible. If you would prefer not to use credit card or PayPal, please contact <a href="mailto:sponsors@pyladies.com">us</a> to make other arrangements.</li>
            </ol>

            <p>If you know of a talented, deserving developer who might benefit greatly from attending a Python or Open Source conference, email <a href="mailto:info@pyladies.com">us</a>.  We'll do our best to help as many women as possible.</p>
        </article>
    </section>
{% endblock %}
