<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        <div class="tab-container">
          <!-- Tab List -->
          <ul class='etabs'>
              {% for order in (1..10) %}
                {% for p in site.pages %}
                  {% if p.order == order %}
                    {% if p.tab %}
                      <li {% if p.url == page.url %}class="tab active"{% else %}class="tab"{% endif %} >
                        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url | prepend: site.baseurl }}"><i class="{{p.icon}}"></i>{{ p.title }}</a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
          </ul>
          <div id="tab-data-wrap">
              {{ content }}
          </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
