{% extends "site.html" %}
{% block title %}PyLadies SD{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies SD</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/sd") }}">San Diego, California</a> | <a class="social icon vcard" data-icon="&#59170;" title="Contact" href="mailto:juliet.oberding@gmail.com"><a class="social icon location" data-icon="&#59172;" href="http://www.meetup.com/sd-pyladies" title="Meetup Link"></a></h4> 
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}