{% extends "site.html" %}
{% block title %}PyLadies SF{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies SF</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/saltlake") }}">Salt Lake area, Utah</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:saltlake@pyladies.com" title"Contact"></a></h4> 

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}