{% extends "layout.html" %}
{% block content %}
<div class="indented-text">
    <h1>Resources</h1>
    <ul id="resource-types">
    	<li><h3>Groups</h3></li>
    	<ul>
    		<li><a href="http://www.meetup.com/bostonpython/">Boston Python</a></li>
    		<li><a href="http://thewc.co">Women's Coding Collective</a></li>
    		<li><a href="http://www.bostongirlgeeks.com/">Boston Girl Geek Dinners</a></li>
    		<li><a href="http://bostonpythonworkshop.com/">Boston Python Workshop</a></li>
    	</ul>
    	<li><h3>Handy Links</h3></li>
    	<ul>
    		<li><a href="http://learnpythonthehardway.org/book/">Learn Python the Hard Way</a></li>
            <li><a href="http://www.greenteapress.com/thinkpython/html/index.html">Think Python: How to Think Like a Computer Scientist</a></li>
    		<li><a href="https://github.com/kirang89/pycrumbs/blob/master/pycrumbs.md">PyCrumbs - Bits and Bytes of Python from the Internet</a></li>
    	</ul>
    	<li><h3>Why Women Only?</h3></li>
    	<ul>
    		<li>Missy Titus: <a href='https://medium.com/thoughts-on-society/a1345b36b91b'>Why do women try to get ahead by pulling men down?</a></li>

    		<li>Serge Wroclawski: <a href='http://blog.emacsen.net/blog/2012/06/07/observations-from-a-python-workshop/'>Observations From a Python Workshop</a></li>

    		<li>John Scalzi: <a href='http://whatever.scalzi.com/2012/05/15/straight-white-male-the-lowest-difficulty-setting-there-is/'>Straight White Male: The Lowest Difficulty Setting There Is</a></li>

    		<li>Selena Deckelmann: <a href='https://medium.com/i-m-h-o/b192e12dad3a'>Why there is more than one women in tech group</a></li>

    		<li>Hynek Schlawack: <a href="http://hynek.me/articles/how-i-stopped-worrying-and-started-loving-pyladies/">How I Stopped Worrying and Started Loving PyLadies</a></li>

            <li>Kieran Snyder: <a href="http://fortune.com/2014/10/02/women-leave-tech-culture/">Why Women Leave Tech</a></li>
    	</ul>
        <li><h3>Studies on Women in STEM</h3></li>
        <ul>
            <li><a href="http://www.aauw.org/resource/why-so-few-women-in-science-technology-engineering-and-mathematics/">Why So Few? Women in Science, Technology, Engineering, and Mathematics (AAUW)</a></li>

            <li><a href="http://wrrc.ucdavis.edu/files/misc/genderequity.pdf">Creating Gender Equity in Your Teaching (University of California, Davis)</a></li>

            <li><a href="http://www.nsf.gov/pubs/2000/cawmset0409/cawmset_0409.pdf">Land of Plenty (Commission on the Advancement of Women and Minorities in Science, Engineering, and Technology Development)</a></li>

            <li><a href="http://www.nsf.gov/pubs/2003/nsf03207/start.htm">New Formulas for America's Workforce: Girls in Science and Engineering (National Science Foundation)</a></li>

            <li><a href="http://images.engineeringdegree.net.s3.amazonaws.com/girls-in-stem.jpg">Girls in STEM Infographic</a></li>

            <li><a href="http://www.ncwit.org/sites/default/files/legacy/pdf/BytheNumbers09.pdf">Women in Technology, By the Numbers</a></li>

            <li><a href="http://www.esa.doc.gov/sites/default/files/reports/documents/womeninstemagaptoinnovation8311.pdf">Women in STEM: A Gender Gap to Innovation"</a></li>

            <li><a href="http://www.womenintechnology.org/witef/resources">Women in Technology: Resources</a></li>

            <li><a href="http://www.pnas.org/content/101/46/16385.long">Groups of diverse problem solvers can outperform groups of high-ability problem solvers</a></li>

            <li><a href="http://www.scu.edu/business/economics/upload/Kamas_Preston-_AreWomenMarch-2012-3.pdf">Kamas and Preston, Are Women Really Less Willing to Compete Than Men?</a></li>
    </ul>
</div>
{% endblock %}