{% extends "site.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <section id="archive">
        <h1>About</h1>
        <article>
            <aside>
                <p>We are a group of women developers worldwide who love the Python programming language.  We write code by day or night.  Some of us hack on Python projects on the side, while others work full-time on Python development.  But it doesn't matter.  We all just like writing Python code, and that's what brings us together.</p>

                <p>Please join us!</p>
                <p>Are you an experienced female Python developer?  Or are you new and need help getting into Python development?</p>

                <p>Here's what to do:</p>

                <ol>
                    <li>Sign up for our newsletter to keep up with PyLadies news.</li>
                    <li>Join your local <a href="{{ get_url('/locations') }}">Meetup group</a> or start your own with our <a href="http://github.com/pyladies/pyladies-kit">PyLadies starter kit</a></li>
                    <li>Join our global <a href="https://plus.google.com/communities/108807002736066163985">Google+ community</a> to keep up with recent Pyladies conversations.</li>
                    <li>Come to our IRC channel #pyladies on irc.freenode.net.  Say hi and tell us a bit about yourself.  We'll do the same :)  Hang out and make yourself at home.  Don't be shy; we'd love to meet you.</li>
                    <li>Contribute to the <a href="http://www.pyladies.com/blog/">PyLadies blog</a>. See the <a href="https://github.com/pyladies/pyladies/blob/master/CONTRIBUTING.md">contributing guidelines</a> for details and instructions.</li>
                    <li>Sign up for our Google Group discussion list.</li>
                    <li><a href="mailto:info@pyladies.com">E-mail us</a></li>
                </ol>

                <p>Developers Only</p>
                <p>Developers and aspiring developers only, please!  There are some fantastic groups for women tech entrepreneurs/social media marketers out there, which some of us participate in as well, but let's keep this group primarily focused on Python programming.</p>
            </aside>

        </article>
    </section>
{% endblock %}
