{% extends 'layout.html' %}


{% set title = 'Blog &rsaquo; Archives  &rsaquo; ' ~ archive.year %}

{% block breadcrumbs %}
    <ul id="breadcrumbs">
        <li><a href="{{ get_url() }}" data-pjax="#content">Blog</a><span>&rsaquo;</span></li>
        <li><a href="{{ get_url('archives/') }}">Archives</a><span>&rsaquo;</span></li>
        <li>{{ archive.year }}</li>
    </ul>
{% endblock %}

{% block content %}
    <dl class="horizontal archives">
        {% for items in archive %}
            {% for item in items %}
            {% endfor %}
        {% endfor %}
    </dl>
{% endblock %}
