{% extends "site.html" %}
{% block title %}PyLadies Bauchi, Nigeria{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Bauchi, Nigeria</h1>
            <article>
                <ul class="social">
                  <aside>
                    <h4>
                      <a href="{{ get_url("locations/NG") }}">Bauchi, Nigeria</a> |
                      <a class="social icon vcard" data-icon="&#59170;" href="mailto:bauchi@pyladies.com" title="Contact"></a>
                      <a class="social icon twitter" data-icon="&#62217;" target="_blank" title="Twitter" href="https://twitter.com/pyladiesbauchi"></a>
                    </h4>
                  </aside>
                </ul>
            </article>
    </section>
{% endblock %}
