{% extends "site.html" %}
{% block title %}PyLadies Nashville{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Nashville</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/nash") }}">Nashville, TN</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:info@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/PyNashLadies"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Nashville-PyLadies"></a></h4>
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}