@charset "UTF-8";

*{
	margin:0;
	padding:0;
	border:0;
}

body{
	background-color: #fff;
	color: #333;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
}

a, a:visited {
	color: #f13a59;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 50px 0px 50px 0px;
	font-family: 'Old Standard TT', serif;
	font-size: 48px;
}

.row {
	margin-top: 25px;
	margin-bottom: 25px;
}

#top{
	height:25px;
}

p {
	margin-bottom: 15px;
}

/* --- images ------------- */
#logo{
	margin-top:15%;
	text-decoration:none;
}

/* text logo */
.pyladies-logo {
	height: 63px;
	width: 133px;
}

@media (max-width: 400px) {
	.pyladies-logo {
		display: none;
	}
}

/* Big pyladies script logo */
#floating-logo {
	position: absolute;
	display: block;
	width: 275px;
	height: 125px;
	top: 25%;
	left: 50%;
	margin-left: -136px;
}

@media (min-width: 500px) {
	#floating-logo  {
		width: 400px;
		height: 170px;
		top: 25%;
		left: 50%;
		margin-left: -200px;
	}
}

@media (min-width: 750px) {
	#floating-logo  {
		width: 500px;
		height: 250px;
		top: 30%;
		left: 50%;
		margin-left: -250px;
	}
}


/* @media only screen and (min-width: 420px) {
	#floating-logo {
		position: absolute;
		display: block;
		width: 400px;
		height: 175px;
		top: 15%;
		left: 45%;
		margin-left: -136px;
	}
} */


#logoimage{
	width:27px;
	padding-right:10px;
	float:left;
}

#logotitle{
	font-family:'Josefin Sans', Helvetica, sans-serif;
	font-weight: bold;
	font-size:305%;
}

#logotitle a{
	color:#2d2d2d;
	text-decoration:none;
}

.geek {
	display: block;
	width: 100%;
	max-width: 300px;
	padding: 0px 15px 0px 15px;
	margin-top: -15px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 500px) {
	.geek  {
		margin-bottom: 15px;
	}
}

.pygotham {
	width: 259px;
	height: 221px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

@media (min-width: 550px) {
	.pygotham {
		width: 519px;
		height: 443px;
	}
}

/* --- navbar ------------- */

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

nav.navbar {
	background-color: #2B2D42;
	color: #8D99AE;
}

.nav-item:hover {
	cursor: pointer;
}

h1,h2,h3,h4 {
	font-size:36px;
}

.navbar a {
	font-size: 16px;
}

.section {
	padding-top:25px;
	padding-bottom:25px;
}

.row {
	min-height: 500px;
	padding-bottom: 50px;
}

/* hr lines */

.hr-squiggle {
	width: 100%;
	height: 25px;
	margin-top: -35px;
	margin-bottom: 25px;
}

.thick-line {
	display: block;
	color: black;
	border-width: 5px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.pink {
	background-color: pink;
	border-top: 5px solid #ffdeb4;
	border-bottom: 5px solid #ffdeb4;
}

.skyline {
	background-image: url('images/skyline.jpg');
	height: 450px;
	background-size:cover;
}

.doc-searls {
	font-size: 12px;
	margin-left: 5px;
	display: block;
}

@media (min-width: 750px) {
	.skyline {
		height: 650px;
	}
}

@media (min-width: 1824px) {
	.skyline {
		height: 750px;
	}
}

/* --- bios ------------- */
.bio-container {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	margin-bottom: 75px;
	flex-wrap: wrap;
	overflow: hidden;
}

.organizer-container {
	margin-bottom: 25px;
	max-width: 100%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 1250px) {
	.organizer-container {
		width: 40%;
	}
}

.organizer {
	height: auto;
	flex-grow:0;
	flex-shrink:0;
	max-height: 400px;
	align-self: auto;
	justify-self: initial;
	max-width: 300px;
}

.organizer.landscape {
	max-width: 325px;
	padding-top: 10px;
}

@media (min-width: 750px) {
	.bio-container {
		flex-direction: row;
	}

	.organizer.landscape {
		max-width: 425px;
	}
}

.bio .name {
	font-weight: bold;
	font-size: 24px;
	font-family: 'Bitter', sans-serif;
	margin-top: 25px;
}

.bio {
	width: 100%;
}

@media (min-width: 1250px) {
	.bio {
		width: 55%;
		text-align: left;
	}
	.bio .name {
		margin-top: inherit;
	}
}

span.fa {
	font-size: 24px;
}

/* --- resources ----------- */
.resource-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 35px;
}

.resource-link p, .resource-link:hover {
	color: rgba(0,0,0,.7);
	text-transform: none;
	text-decoration: none;
}

.resource {
	margin-bottom: 30px;
	background: #fafafa;
	border-radius: 10px;
    padding: 25px;
    height: 320px;
	width: 320px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 4px 20px 0 rgba(0,0,0,0.1);
	display: block;
	text-align: left;
	font-size: 16px;
}

.resource .p {
	margin-bottom: 0px;
}

.resource-link .resource-title {
	font-size: 22px;
	color: black;
}


/* --- footer ------------- */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding-top: 15px;
	background-color: #0e0c4f;
	padding-right: 16px;
}

.footer p {
	margin-bottom: 15px;
}

.footer a .fa {
	color: #fff;
	font-size: 22px;
}

.footer .footer-title {
	vertical-align: 2px;
}

.small-geek {
	background-image: url('./images/pylady_geek.png');
	background-size: contain;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.med-geek {
	background-image: url('./images/pylady_geek.png');
	background-size: contain;
	display: block;
	margin-left: 10px;
	margin-right: auto;
	width: 50px;
	height: 50px;
}

@media (min-width: 400px) {
	.small-geek {
		display: none;
	}
}
