---
layout: default
title: Blog
permalink: /blog/
tab: true
icon: icon-archive
order: 3
---

<div class="home">
<br>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <a href="{{post.author_link}}">{{ post.author }}</a>{% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>