{% extends "site.html" %}
{% block title %} Pyladies Bangalore {% endblock %}
{% block content %}
		<h3><a class="icon-meetup" data-icon="&#xe901;" href="https://www.meetup.com/PyLadies-Bangalore-Chapter/" title="meetup group">Pyladies Bangalore Meetup group</a></h3>
		<h3><a class="icon-mail4" data-icon="&#xea86;" href="mailto:pyblr@pyladies.com" title="contact">Pyladies Bangalore Contact</a></h3>
		<h3><a class="icon-twitter" data-icon="&#xea96;" href="https://twitter.com/pyladiesblr" title="twitter handle">Pyladies Bangalore Twitter handle</a></h3>
{% endblock %}
