{% extends "site.html" %}
{% block title %} Pyladies Bangalore {% endblock %}
{% block content %}
		<h3><a class="icon-meetup" data-icon="&#xe901;" href="http://www.meetup.com/PyLadies-Bangalore/" title="meetup group">Pyladies Bangalore Meetup group</a></h3>
		<h3><a class="icon-facebook" data-icon="&#xea90;" href="https://www.facebook.com/groups/485834988176594/" title="facebook">Pyladies Bangalore Facebook group</a></h3>
		<h3><a class="icon-mail4" data-icon="&#xea86;" href="mailto:bangalore@pyladies.com" title="contact">Pyladies Bangalore Contact</a></h3>
                <h3><a class="icon-twitter" data-icon="&#xea96;" href="http://www.twitter.com/pyladiesblore" title="twitter handle">Pyladies Bangalore Twitter handle</a></h3>
                <h3><a class="icon-earth" data-icon="&#xe9ca;" href="http://pyladies.co.in/" title="Pyladies Bangalore website">Pyladies Bangalore Website</a></h3>
{% endblock %}
