{% extends "site.html" %}
{% block title %} Pyladies Bangalore {% endblock %}
{% block content %}
		<h3><a class="social icon location" data-icon="" href="http://mail.python.org/mailman/listinfo/pyladies-blr" title="mailing list">Mailing list for Pyladies-Bangalore</a></h3>
		<h3><a class="social icon location" data-icon="&#59172;" href="http://www.meetup.com/PyladiesBangalore/" title="meetup group">Pyladies Bangalore Meetup group</a></h3>
		<h3><a class="social icon facebook" data-icon="&#62221;" href="https://www.facebook.com/groups/485834988176594/" title="facebook">Pyladies Bangalore Facebook group</a></h3>
		<h3><a class="social icon vcard" data-icon="&#59170;" href="mailto:bangalore@pyladies.com" title="contact">Pyladies Bangalore Contact</a></h3>
{% endblock %}
