{% extends "site.html" %}
{% block title %}PyLadies Kampala{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Kampala</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/kampala") }}">Kampala</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:kampala@pyladies.com" title="Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/pyladieskla"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/pyladieskampala"></a></h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
