{% extends "site.html" %}
{% block title %}PyLadies DC{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies DC</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/dc") }}">Washington, DC</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:dc@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/dc-pyladies"></a></h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}