{% extends "site.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Blog</h1>
        <img src="{{ get_asset('images/pylady_geek.png') }}" width="150" height="83">
            <article>
                {% for post in posts %}
                    <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                    <time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time>
                    <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Read more &rarr;</a></p>
                {% endfor %}
            </article>
    </section>
{% endblock %}