{% extends "site.html" %}
{% block title %}Mavs PyLadies{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Mavs PyLadies</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/mavs") }}">Mavs PyLadies</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:mavs@pyladies.com" title"Contact"></a><a class="social icon facebook" data-icon="&#62217;" title="Facebook" href="https://www.facebook.com/pyladiesmavs/"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Arlington"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}

