
{% extends "site.html" %}
{% block title %}Cleveland PyLadies{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Cleveland PyLadies</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/cle") }}">Cleveland, Ohio</a></h4>
                        <div class="chpts">
                            <a class="social icon link" data-icon="&#128279;" href="https://clepyladies.github.io/pyladies-official" title="Website"></a>
                            <a class="social icon vcard" data-icon="&#59170;" href="mailto:cle@pyladies.com" title"Contact"></a>
                            <a class="social icon twitter" data-icon="&#62217;" title="Twitter Link" href="https://twitter.com/clepyladies"></a>
                            <a class="social icon facebook" data-icon="&#62221;" href="https://www.facebook.com/clepyladies" title"Facebook"></a>
                            <a class="social icon github" data-icon="&#62208;" href="https://github.com/clepyladies" title"GitHub"></a>
                            <a class="social icon instagram" data-icon="&#128247;" href="https://www.instagram.com/clepyladies" title"Instagram"></a>
                            <a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/cle-pyladies/"></a>
                        </div>
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
