#header ul li {
	display: inline-block;
	padding-left: 10px;
}

#pyladies_pune_logo {
	height: 280px;
	width: 280px;
}

.images {
	height: 90px;
	width: 90px;
}

h2{
	color:#FA5882;
	font-family: Verdana, Geneva, sans-serif;
}

p {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.link {
	color: #81BEF7;
	text-decoration:none;
}

.heading_images {
	height: 80px;
	width: 80px;
}

#weinnovate_image {
	height: 300px;
	width: 300px;
	padding-top: 20px;
}

#about_us_box {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	}

#activities_box {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	}

#projects_box {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	}

#mentions_box {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	}

#sponsors_box {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	}

#red_hat_logo {
	height:150px;
	width: 150px;
}

#organisers_box {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	}

#organisers_box ul li {
	display: inline-block;
	padding-left: 50px;
}

#organisers_box ul li a{
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.organiser_img {
	height: 220px;
	width: 220px;
}

#footer {
	float: left;
}

#footer ul li {
	display: inline;
	padding-left: 50px;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}