{% extends "site.html" %}
{% block title %}PyLadies El Alto{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies El Alto</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/elalto") }}">El Alto, Bolivia</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:elalto@pyladies.com" title="Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/pyladies_elalto"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/pyladies-foo"></a></h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}