{% extends "site.html" %}
{% block title %}PyLadies LA{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies LA</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/la") }}">Los Angeles, California</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:la@pyladies.com" title="Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/pyladiesLA"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/Pyladies-LA/"></a></h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
