{% extends "site.html" %}
{% block title %}PyLadies Boston{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Boston</h1>
        <img src="/assets/images/pyladies_boston_logo_2_white.png" width="300" style="width:300px;"/>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/boston") }}">Boston, MA</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:boston@pyladies.com" title"Contact"></a></h4>
                </aside>
                </ul>
            </article>
    </section>
{% endblock %}