{% extends "layout.html" %}
{% block content %}
<div class="container">
<div id="content"
<div id="upcomingMeetupsList"></div>
<dl>
  <dd class="meetup_event_date">Sunday September 27, 11:00am-1:00pm CDT </dd>
  <dd class="meetup_event_venue">Google Hangout on Air </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/from-guess-and-check-to-recursion-tickets-18329147975" target="_blank">
From Guess and Check to Recursion</a>
  </dt>
  <dd class="meetup_event_description">
    <p>Recursion - what is it? (A way to break down a problem into smaller pieces which
      you either already know the answer to!)</p>
    <p>In this class we'll solve two to three problems starting first with our tried and
      true guess and check logic. Once we know how to break the problem down and solve
      it with exhaustive enumeration, we'll retool our approach to apply recursion to our code.</p>
    <p>The class will make use of psuedocode and, time permitting, do a Big O analysis on
      each implementation.</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/from-guess-and-check-to-recursion-tickets-18329147975">here!</a></p>
      <p>Here are the links to the <a href="https://plus.google.com/events/ca5obo3ho0tish70fs64klqae4k">live stream</a> and
        to the <a href="https://tlk.io/pyladiesremote">help chat</a> Lorena will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>


  </dd>
</dl>
<dl>
  <dd class="meetup_event_date">Sunday September 20, 09:30am-11:30am EDT </dd>
  <dd class="meetup_event_venue">Google Hangout on Air </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/lets-learn-git-in-your-pjs-tickets-18289350941" target="_blank">
Let's learn Git in Your PJs</a>
  </dt>
  <dd class="meetup_event_description">
    <p>It's time to get comfortable with git!</p>
    <p>Today, git is the go-to for versioning. If you want to go code in the open
      source community, chances are good that you're going to have to learn about git.</p>
    <p>In this class, we're going to go over:</p>
      <ul>
        <li><p>What exactly IS git? </p></li>
        <li><p>Installing it </p></li>
        <li><p>Creating repositories  </p></li>
        <li><p>Branching, merging, rebasing, tagging</p></li>
        <li><p>Fixing merges</p></li>
        <li><p>Working with Github </p></li>
        <li><p>Getting information out of git </p></li>
        <li><p>Tricks and tips </p></li>
      </ul>
      <p>In order to participate in this class, you'll need a GitHub account and a computer
         with admin rights. You'll be playing around with a repo on Katie Cunningham's
         account, so you won't need to do anything but sign up!</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/lets-learn-git-in-your-pjs-tickets-18289350941">here!</a></p>
      <p>The link to the live stream will be added to Eventbrite page before the class so please
        keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>


  </dd>
</dl>
<dl>
  <dd class="meetup_event_date">Sunday August 23, 09:30am-12:30pm EDT </dd>
  <dd class="meetup_event_venue">Google Hangout on Air </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/intro-to-python-3-in-your-pjs-tickets-18000972393" target="_blank">
Intro to Python 3 in Your PJs</a>
  </dt>
  <dd class="meetup_event_description">
    <p>Yes! Katie Cunningham will finally be going over Python 3!</p>
    <p>This is a class for the new developer, and works not only for those new to programming, but also to Python.</p>
    <p>For this class, Katie will be using Google Hangouts on Air and
      <a href="https://c9.io">Cloud 9</a>. Make sure that you have a C9 account before the class starts!
      Everyone should be fine using the free tier.</p>
    <p>Rough outline:</p>
      <ul>
        <li><p>Storing and manipulating data</p></li>
        <li><p>Getting information from the user </p></li>
        <li><p>Logic and flow control </p></li>
        <li><p>Using the standard library </p></li>
        <li><p>Projects of interest</p></li>
      </ul>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/intro-to-python-3-in-your-pjs-tickets-18000972393">here!</a></p>
      <p>The link to the live stream will be added to Eventbrite page before the class so please
        keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>


  </dd>
</dl>
<dl>
  <dd class="meetup_event_date">Sunday August 16, 09:30am-11:00am EDT </dd>
  <dd class="meetup_event_venue">Google Hangout on Air </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/introduction-to-scraping-and-scrapy-tickets-18001063666" target="_blank">Introduction to Scraping and Scrapy</a>
  </dt>
  <dd class="meetup_event_description">
    <p>Web scraping (web harvesting or web data extraction) is a computer software technique of extracting information from websites.  -- wiki</p>
      <p>What you need?</p>
      <ul>
        <li><p>A <a href="https://mail.google.com/">Gmail Account</a>.</p></li>
        <li><p><a href="https://c9.io">Cloud9 account</a>.</p></li>
        <li><p>Love for <a href="https://www.python.org">Python</a>.</p></li>
        <li><p>Internet Obviously. :)</p></li>
        <li><p>Doubts, questions, drop them <a href="https://tlk.io/pyladiesremote">here</a>.</p></li>
      </ul>
      <p>What you will learn?</p>
      <ul>
        <li><p>Installing Scrapy and anything that we need.</p></li>
        <li><p>What is scraping?</p></li>
        <li><p>Why Scrape at all?</p></li>
        <li><p>What all you can scrape?</p></li>
        <li><p>How to write a scraper?</p></li>
        <li><p>Why Scrapy is awesome?</p></li>
        <li><p>Why Scrapy is not that awesome?</p></li>
        <li><p>What is xpath? Why they are so useful in scraping?</p></li>
        <li><p>What all you have in Python World to Scrape?</p></li>
      </ul>
      <p>You are a beginner in Python? Yes? Please join in. :)</p>
      <p>No? I promise you will learn something new and interesting. :)</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/introduction-to-scraping-and-scrapy-tickets-18001063666">here!</a></p>
      <p>The link to the live stream will be added to Eventbrite page before the class so please
        keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesremote">help chat</a> Tapasweni will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>


  </dd>
</dl>
<dl>
  <dd class="meetup_event_date">Sunday July 26, 02:30pm-05:30pm CEST </dd>
  <dd class="meetup_event_venue">Livecoding.tv </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/introduction-to-django-tickets-17678186933" target="_blank">Introduction to Django</a>
  </dt>
  <dd class="meetup_event_description">
    <p>Emmanuelle Delescolle will teach you how to create a ToDo App with Django!</p>
      <p>Here are the steps that she will guide you through:</p>
      <ul>
        <li><p>We'll install a stlightly prepared django project using cookiecutter in order to save time (with preloaded bootstrap, custom css, required apps already installed, db initialized with superuser)</p></li>
        <li><p>We'll jump directly into urls.py (with explanation on how a django/wsgi app is different from basics html/php/asp/jsp based sites if part of the audience has experience with those)</p></li>
        <li><p>We'll have a brief intro of TemplateView and Django templates and template inheritance.</p></li>
        <li><p>We'll do a complete intro on models/makemigrations/migrate</p></li>
        <li><p>We'll have a brief description of the admin and how to create a ModelAdmin</p></li>
        <li><p>We'll move towards ListView, CreateView and UpdateView</p></li>
        <li><p>We'll create a custom View class (to set a todo as done from the list) based on RedirectView</li></p>
      </ul>
      <p>If there's time left:</p>
      <ul>
        <li><p>We'll do an ajax version of the last step so the page doesn't need to be reloaded when setting a todo as done and see how django can behave differently for ajax and regular requests</p></li>
      </ul>
      <p>Emmanuelle will use cloud9 for her class. If you don't have a cloud9 account, please <a href="https://c9.io">sign up</a> before the class It's free!</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/introduction-to-django-tickets-17678186933">here!</a></p>
      <p>Here is the link to the <a href="https://www.livecoding.tv/emma/">stream</a>
        and to the <a href="https://tlk.io/pyladiesremote">help chat</a> Emmanuelle will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>


  </dd>
</dl>
<dl>
  <dd class="meetup_event_date">Sunday July 19, 09:30am-12:30pm EDT </dd>
  <dd class="meetup_event_venue">Google Hangout on Air </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/learn-javascript-in-your-pjs-tickets-17646464049" target="_blank">Learn JavaScript in Your PJs!</a>
  </dt>
  <dd class="meetup_event_description">
    <p>Yes, this is a Python group, but if you want to do web dev,
      you'll want to learn Javascript!</p>
      <p>In this online class, Katie Cunningham will teach you the basics of
        Javascript, including:</p>
      <ul>
        <li><p>Storing and manipulating data</p></li>
        <li><p>Manipulating HTML</p></li>
        <li><p>Logic and flow control</p></li>
        <li><p>Objects</p></li>
        <li><p>Functions</p></li>
        <li><p>Debugging</p></li>
        <li><p>Frameworks</li></p>
      </ul>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/learn-javascript-in-your-pjs-tickets-17646464049">here!</a></p>
      <p>Here is the link to the <a href="https://plus.google.com/u/0/events/ck2c0c52a66u7s7juk8anjcnbo0">Google Hangout on Air</a>
        and to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>


  </dd>
</dl>
<dl>
  <dd class="meetup_event_date">Sunday June 28, 09:30am-12:30pm EDT </dd>
  <dd class="meetup_event_venue">Google Hangout on Air </dd>
  <dt>
    <a href="https://www.eventbrite.com/e/learn-python-in-your-pjs-tickets-17362458581" target="_blank">Learn Python in Your PJs!<!--</a>-->
  </dt>
  <dd class="meetup_event_description">
    <p>
      <a href="http://twitter.com/kcunning">Katie Cunningham</a>
      will teach you the basics of Python! And the best part about it: You can
      take the class from home, in your PJ's!</p>
      <p>This is a class for absolutely beginners, so don't worry about
        not having enough experience.</p>
      <p>Katie will cover:</p>
      <ul>
        <li><p>What is Python, and what can it do?</p></li>
        <li><p>Saving data</p></li>
        <li><p>Manipulating data</p></li>
        <li><p>Data types</p></li>
        <li><p>Repeating code</p></li>
        <li><p>Creating functions</p></li>
        <li><p>Using the Python Standard Library</li></p>
        <li><p>What next?</li></p>
      </ul>
      <p>For this class, Katie will be using <a href="https://c9.io">Cloud 9</a>.
        You can feel free to use the Python installed on your machine, but it's much,
        MUCH easier to share errors with Katie when you use Cloud 9.</p>
      <p>Class pre-requisites:</p>
      <ul>
        <li><p>A stable Internet connection
          (please, don't do this from a coffee shop!)</p></li>
        <li><p>A Cloud 9 account (it's free!)</p></li>
        <li><p>Some caffeine :) </p></li>
      </ul>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/learn-python-in-your-pjs-tickets-17362458581">here!</a></p>
      <p>An email with the link to the Google Hangout on Air and the
        corresponding help chat will be sent out about an hour before
        the class, so check your emails!</p>


  </dd>
</dl>
</div>
</div>


{% endblock %}
