{% extends 'layout.html' %}

{% block content%}

<article class="what-block section replace">
  <h3>What's PyLadies?</h3>
  <p><a href = "http://www.pyladies.com/" target = "_blank">PyLadies</a> is an international mentorship group with a focus on helping more women become active participants and leaders in the python open source community. Our mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings.

  PyLadies also aims to provide a friendly support network for women and a bridge to the larger Python world. Anyone with an interest in Python is encouraged to participate!</p>
</article>

{% endblock %}