{% extends "site.html" %}
{% block title %}PyLadies Porto Alegre{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Porto Alehre</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/portoalegre") }}">Porto Alegre</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:portoalegre@pyladies.com" title="Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/pyladiespoa"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/211716276/" ></a> <a class="icon-github" data-icon="&#xeab0;" href="http:/github.com/pyladiespoa" title="GitHub"></a> </h4>

                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
