{% load pages_tags i18n %}
{% load mezzanine_superfish_tags %}
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <title>{% block meta_title %}{% endblock %}</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" 
        href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"  
        href="{% url blog_post_feed "atom" %}" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/sticky-footer.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/superfish.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />

    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-1.5.2.min.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/hoverIntent.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.bgiframe.min.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/supersubs.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/superfish.js'></script>
    <script> 
        $(document).ready(function() { 
            $('ul.sf-menu').superfish();
        }); 
    </script>

    {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
<div id="wrap">
<div id="main">
    <img id="logo" src="{{ MEDIA_URL }}img/logo.png" />
    <div id="grid-top">
        {% superfish_submenu "mezzanine_superfish/superfish.html" %}
    </div>

    <div class="container clearfix" id="content">

        <div id="grid-middle" class="span-16">
            <div> <!--class="gutter">-->
                <h1>{% block title %}{% endblock %}</h1>
                <div id="breadcrumb-menu">
                    {% block breadcrumb_menu %}
                        {% page_menu "pages/menus/breadcrumb.html" %}
                    {% endblock %}
                </div>
                {% block main %}{% endblock %}
            </div>
        </div>

        <div id="grid-right" class="span-6 last">
            <div id="social-support">
                <a href="http://www.facebook.com/pages/PyLadies/172371899488492"><img src="{{ MEDIA_URL }}img/facebook.png" title="Like Us on Facebook" /></a>
                <a href="http://twitter.com/pyladies"><img src="{{ MEDIA_URL }}img/twitter.png" title="Follow Us on Twitter" /></a>
                <a href="https://github.com/audrey/pyladies"><img src="{{ MEDIA_URL }}img/github.png" title="Watch or fork our Github repo" /></a>
            </div>

<!-- Begin MailChimp Signup Form -->
<!--[if IE]>
<style type="text/css" media="screen">
	#mc_embed_signup fieldset {position: relative;}
	#mc_embed_signup legend {position: absolute; top: -1em; left: .2em;}
</style>
<![endif]--> 
<!--[if IE 7]>
<style type="text/css" media="screen">
	.mc-field-group {overflow:visible;}
</style>
<![endif]-->

<div id="mc_embed_signup">
<form action="http://pyladies.us2.list-manage.com/subscribe/post?u=9d20e0bc6bc0e88a076738c6f&amp;id=23e4f35e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<fieldset>
	<legend><span>{% trans "join our mailing list" %}</span></legend>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address <strong>*</strong></label>
            <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
		<div id="mce-responses" style="float: left;top: -1.4em;padding: 0em .5em 0em .5em;overflow: hidden;width: 90%;margin: 0 5%;clear: both;">
			<div class="response" id="mce-error-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: FBE3E4;color: #D12F19;"></div>
			<div class="response" id="mce-success-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #E3FBE4;color: #529214;"></div>
		</div>
		<div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button white"></div>
	</fieldset>	
	<a href="#" id="mc_embed_close" class="mc_embed_close" style="display: none;">Close</a>
</form>

    <p>Keep up with what's going in the PyLadies community on our low-volume announcement list.  Men and women from everywhere are welcome.
    </p>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
head.appendChild(script);
var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = 'margin: .5em 0 .5em 0; font-weight: bold; z-index: 1; color: C00;';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = '.mce_inline_error {' + err_style + '}';
} else {
  style.appendChild(document.createTextNode('.mce_inline_error {' + err_style + '}'));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://pyladies.us2.list-manage1.com/subscribe/post-json?u=9d20e0bc6bc0e88a076738c6f&id=23e4f35e45&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && fields[2].value=='YYYY' ){
                                    		this.value = '';
									    } else if ( fields[0].value=='' && fields[1].value=='' && fields[2].value=='' ){
                                    		this.value = '';
									    } else {
	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
	                                    }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
    	});
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->

            {% include "includes/search.html" %}
            {% block right_panel %}
                {% include "twitter/tweets.html" %}
            {% endblock %}
            <p>
                This website is open-source! Watch or fork <a href="https://github.com/audrey/pyladies">our Github repo</a>.
            </p>

        </div>

    </div>
</div>
</div>
<div id="grid-bottom">
    <div class="container clearfix">
        <div class="span-12 push-8 prepend-top">
            {% page_menu "pages/menus/footer.html" %}
        </div>
    </div>
    <p class="mezzanine">
        {% trans "Powered by" %} 
        <a href="http://www.djangoproject.com">Django</a> {% trans "and" %}
        <a href="http://mezzanine.jupo.org">Mezzanine</a><br />
        <a href="{% url set_device "mobile" %}?next={{ request.path }}">
            {% trans "View Mobile Site." %}
        </a>
    </p>
</div>

{% include "includes/footer_scripts.html" %}

</body>
</html>

