{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "PyLadies" %}
{% endblock %}

{% block main %}
{% blocktrans %}
<p>
The women's Python community in Los Angeles is growing fast!  
</p>
<p>
With 5 women leading and organizing events, and others offering volunteer time and support, we're on track for increasing the percentage of females in the Los Angeles Python community to 50%.
</p>
<h2>
Save the Dates
</h2>
<p>
Python ladies' night 2<br/>
May 6, 2011 at 7:30pm in Pasadena, CA<br/>
For details, email audreyr@cartwheelweb.com
</p>
<p>
Python women's workshop (men welcome as +1 guests of women attending)<br/>
May 15, 2011<br/>
9:30am-4:30pm, followed by social hour<br/>
Details to be announced here
</p>
{% endblocktrans %}
{% endblock %}
