{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "PyLadies" %}
{% endblock %}

{% block main %}
{% blocktrans %}
<p>
PyLadies is a group of women who use and love the Python programming language.
</p>
<p>
With 7 women leading and organizing events, and numerous others offering volunteer time and support, we're on track for increasing the percentage of females in the Python community to 50%.
</p>
<p>
Although we're largely LA-based, if you're from another city and need help starting a local PyLadies group or other flavor of local women's Python/other language community, contact us.  We can help you get the word out.
</p>
<h2>
Save the Dates
</h2>
<p>
For more details on these events, see the <a href="http://www.pyladies.com/events/">PyLadies Events page</a>.
</p>

<h3>Python Ladies' Night 3</h3>
<p>June 3, 2011<br/>
9pm-2am</p>

<h2>PyLadies Hack Session</h2>
<p>June 18, 2011<br/>
2-8pm</p>
{% endblocktrans %}
{% endblock %}
