{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "PyLadies" %}
{% endblock %}

{% block main %}
{% blocktrans %}

<p>PyLadies is a group of women who use and love the Python programming language.</p>

<p>With <a href="/leadership/">7 women leading</a> and organizing events, and numerous others offering volunteer time and support, we're on track for increasing the percentage of females in the Python community to 50%.</p>

<p>Although we're largely LA-based, if you're from another city and need help starting a local PyLadies group or other flavor of local women's Python/other language community, contact us.  We can help you get the word out.</p>

<h2>Save the Dates</h2>
<p>For more details on these events, see the <a href="/events/">PyLadies Events page</a>.</p>

{% endblocktrans %}
{% endblock %}
