{% extends 'default.html' %}


{% block content %}
<div class="jumbotron">
  <h1>PyLadies Stockholm</h1>
  <p class="lead">We are the Stockholm chapter of PyLadies, an international mentorship group for women who love Python.
  Our focus is to help more women to become active participants and leaders in the tech community in Stockholm.
  We organize study groups, workshops, mini-conferences or just get together to code in Python.
  Our mission is to create a diverse, creative and friendly community for developers of all levels. </p>
  <!--<p><a class="btn btn-danger btn-lg" href="{{ get_url('about/') }}">Learn more</a></p>-->
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h3>Upcoming Meetups</h3>
    <!--<div id="upcomingMeetupsList"></div>-->
  </div>

  <div class="col-lg-6">
    <a class="twitter-timeline" href="https://twitter.com/PyladiesSthlm" data-widget-id="398835641414201346">Tweets by @PyladiesSthlm</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
{% endblock %}
