/* HTML5 Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0; }


/**
 * PyLadies Primary styles
 *
 * Author: Christine Cheung
 * Date: 7/20/2011
 * Inspired by Audrey Roy, Miguel Araujo
 */

a {
	color: #EE0762;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

p {
	margin: 0 0 10px 0;
	line-height: 1.4em;
}
em {
	font-style: italic;
}

ul, ol {
	margin: 0 0 10px 25px;
}
li { margin: 0; }

input[type="text"] {
	border: 1px solid #ccc;
	height: 20px;
	padding: 5px;
}
input[type="submit"] {
	border: none;
}

header {
	background: #FA023C;
}
header #top {
	width: 900px;
	margin: auto;
}
header h1 {
	background: url(../img/logo.png) top left no-repeat;
	text-indent: -9999px;
	width: 150px;
	height: 65px;
	position: absolute;
}
header ul {
	float: right;
}
header ul li {
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
}
header ul li a {
	color: #fff;
	text-decoration: none;
	padding: 15px 12px;
	display: block;
}
header ul li a:hover {
	background: #FA6179;
	text-decoration: none;
}
header ul li.active {
	background: #FA6179;
}
header ul li ul {
	position: absolute;
	display: none;
}
header ul li ul li {
	font-size: 0.8em;
	background: #FA023C;
	border-top: 1px solid #fff;
}
header ul li ul li a {
    display: block; 
    color: #fff;
}


#container {
	width: 900px;
	padding: 30px 0;
	margin: auto;
}

#container #main {
	width: 620px;
	float: left;
}
#container #main h2 {
	font-size: 2em;
	padding: 0 0 10px 0;
}
#container #main h3 {
	font-size: 1.5em;
	padding: 5px 0 7px 0;
}
#container #main h4 {
	font-size: 1.2em;
	padding: 5px 0 5px 0;
}


#container aside {
	width: 250px;
	float: right;
}
#container aside h3 {
	font-size: 1.3em;
	padding: 0 0 5px 0;
}

.facebook {
	background: url(../img/facebook.png) top left no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 10px 20px 20px;
	float: left;
}
.twitter {
	background: url(../img/twitter.png) top left no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 10px 20px 0;
	float: left;
}
.github {
	background: url(../img/github.png) top left no-repeat;
	width: 100px;
	height: 44px;
	margin: 0 0 20px 0;
	float: left;
}
.facebook a, .twitter a, .github a {
	text-indent: -9999px;
	width: inherit;
	height: inherit;
	display: block;
}

fieldset {
    border: 1px solid #CCCCCC;
    padding: 5px 20px 20px 20px;
	margin: 0 0 20px 0;
}
#mc-embedded-subscribe-form {
	clear: both;
}
#mc-embedded-subscribe-form legend {
    background: #FAFAFA;
    border: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
#mc-embedded-subscribe-form p {
	font-style: italic;
	padding: 10px 0;
}
#mc-embedded-subscribe-form label {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 10px 0;
	display: block;
} 
#mc-embedded-subscribe-form input[type="text"] {
	width: 210px;
}
#mc-embedded-subscribe-form #mc-embedded-subscribe {
	background: #FA023C;
	color: #fff;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	margin: 15px 0 0 0;
	padding: 5px 15px;
	border: none;
	float: right;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#search input[type="text"] {
	width: 190px;
	float: left;
}
#search .button {
	background: #FA023C;
	color: #fff;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	padding: 7px;
	float: right;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

/* twitter widget */
.twitter-widget {
	padding: 20px 0 0 0;
	clear: both;
}


/* Blog Styles */
#blog article {
	padding: 10px 0;
}
#blog .byline {
	padding: 0 0 5px 0;
	font-style: italic;
}
#blog .more {
	padding: 10px 0;
	font-weight: bold;
}
#blog .comments {
	padding: 10px 0;
}

#blog-side {
	clear: both;
	padding: 15px 0;
}
#blog-side ul {
	margin: 0;
	padding: 0 0 15px 20px;
}


/* Pagination */
.paging ul {
	margin: 0;
}
.paging ul li {
	list-style: none;
	margin: 5px;
	padding: 7px 10px;	
	border: 1px solid #444;
	float: left;
}
.paging ul li a:hover {
	font-weight: bold;
	
}


footer {
	text-align: center;
	padding-top: 10px;
	clear: both;
}
footer ul li {
	border-top: 1px dotted #ccc;
	padding: 20px 10px;
	display: inline-block;
}
footer ul li a {
	color: #000;
	font-size: 1.35em;
	font-weight: bold;
}
footer ul li a:hover {
	border-bottom: 2px solid #FA023C;
}
footer .copyright {
	padding: 0 0 10px 0;
}





/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
