{% extends "site.html" %}
{% block title %}PyLadies Cochabamba{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Cochabamba</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/cochabamba") }}">Cochabamba, Bolivia</a> | <a class="icon-mail4" data-icon="&#59170;" href="mailto:cochabamba@pyladies.com" title="Contact"></a>  <a class="icon-twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/pyladiescbba"></a>  <a class="icon-earth" data-icon="&#59172;" title="Website" href="https://cbba.pyladies.com/"></a></h4>
                    </aside>
                </ul>
            </article>
    </section>
    <section>
        <h2>Welcome!</h2>
        <article>
            PyLadies Cochabamba is a social group for female Python programmers at every experience level. Our mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings. Please feel free to join us!<br> <br>
                <li>Web: <a href="https://cbba.pyladies.com/">PyLadies Cochabamba</a>. </li>
                <li>Instagram: <a href="https://www.instagram.com/pyladiescbba">@pyladiescbba</a>. </li>
                <li>Facebook: <a href="https://www.facebook.com/pyladiescbba/">facebook.com/pyladiescbba</a> </li></ul>
                <li>Linkedin: <a href="https://www.linkedin.com/company/pyladiescbba/">PyLadies Cochabamba</a> </li></ul>
                <li>Youtube: <a href="https://www.youtube.com/PyLadiesCochabamba">@PyLadiesCochabamba</a> </li></ul>
        </article>
    </section>
{% endblock %}