{% extends "site.html" %}
{% block title %}PyLadies Paris{% endblock %}

{% block style %}
    <meta charset="UTF-8">
    <style>
    article {
        text-align: justify;
    }
    </style>
{% endblock %}

{% block content %}
        <h1>Introduction</h1>
            <article>
				<h2>Bonjour !</h2>

		    <p>Nous sommes un groupe qui vise à soutenir les femmes dans la communauté python (si vous vous identifiez en tant que femmes, nous aussi).
		    Nous nous retrouvons régulièrement pour des "coding cafe" (tout niveau !) ainsi que des "talking bar".</p>

                <h2>Où nous trouver ?</h2>
                <ul>
                    <li>Sur Twitter : <a href="https://twitter.com/PyLadiesParis">@PyLadiesParis</a>.</li>
                    <li>Sur Meetup : <a href="http://www.meetup.com/fr/PyLadies-Paris">PyLadies-Paris</a>.</li>
                </ul>

                <h2>Code de Conduite</h2>
                <p>En plus du code de conduite définit par Pyladies, nous suivons un code de confuite renforcé construit à partir de celui du <a href="http://geekfeminism.org/about/code-of-conduct">Geek Feminism Wiki</a>. Vous le trouverez dans la partie forum de notre page meetup.</p>
            </article>

            <article>
                <h2>Hello!</h2>
                <p>We are a group whose goal is to support women in the python community (if you identify as a woman, so do we). 
			We organize "codings cafe" (beginner welcome!) and "talking bar".</p>

                               <h2>Where can you find us?</h2>
                <ul>
                    <li>On Twitter: <a href="https://twitter.com/PyLadiesParis">@PyLadiesParis</a>.</li>
                    <li>On Meetup: <a href="http://www.meetup.com/fr/PyLadies-Paris">PyLadies-Paris</a>.</li>
                </ul>

                <h2>Code of conduct</h2>
                <p>We are using Pyladies code of conduct and a reinforced one based on <a href="http://geekfeminism.org/about/code-of-conduct">Geek Feminism Wiki CoC</a>. You can find it in the forum part of our meetup page.</p>
            </article>

        <h1>Organisatrice</h1>
            <article>
				<h2>Organisatrice</h2>
				<div class="col-md-4"><a href="https://twitter.com/anna_livia"><img src="https://avatars2.githubusercontent.com/u/13916213?s=128" style="height: 128px; width: 128px;"/></a></div>
                <div class="col-md-4">Anna-Livia Gomart</div>
            </article>
	   <article>
				<h2>Organisatrice</h2>
				<div class="col-md-4"><a href="https://twitter.com/pyviv"><img src="https://avatars3.githubusercontent.com/u/3606240?s=128" style="height: 128px; width: 128px;"/></a></div>
                <div class="col-md-4">Viviane Pons</div>
            </article>
{% endblock %}

