{% extends "site.html" %} {% block title %}PyLadies Paris{% endblock %}

{% block style %}
    <meta charset="UTF-8">
    <style>
    article {
        text-align: justify;
    }
    </style>
{% endblock %}

{% block content %}
        <h1>Introduction</h1>
            <article>
				<h2>HELLO!</h2>

				<p>We’re a group of women passionate about learning and sharing our love for Python in a welcoming environment.</p>

                <p>We believe that everyone should get the opportunity to learn Python programming and as PyLadies members, our events aim primarily at the engagement, education, and empowerment of women who are passionate about technology.</p>

                <p>Feel free to join us whatever your experience with Python!</p>

                <h2>WHERE TO FIND US?</h2>
                <ul>
                    <li>On Meetup : <a
                    href="https://www.meetup.com/pyladiesparis"
                    target="_blank">pyladiesparis</a>.</li>
                    <li>On Twitter : <a
                    href="https://twitter.com/PyLadiesParis"
                    target="_blank">PyLadiesParis</a>.</li>
                    <li>On YouTube : <a
                    href="https://www.youtube.com/@pyladiesparis2639/streams"
                    target="_blank">PyLadies Paris</a>.</li>
                    <li>On Slack : <a
                    href="https://slackin.pyladies.com/"
                    target="_blank">PyLadies #city-paris channel</a>.</li>
                    <li>On GitHub : <a
                    href="https://github.com/PyLadiesParis"
                    target="_blank">Pyladies Paris</a>.</li>
                </ul>

                <h2>ORGANIZERS</h2>
                <ul>
                    <li><a
                    href="http://maria.telenczuk.pl/"
                    target="_blank">Maria Teleczuk</a>.</li>
                    <li><a
                    href="https://www.linkedin.com/in/maudlevy/"
                    target="_blank">Maud Lévy</a>.</li>
                    <li><a
                    href="https://twitter.com/RastgooMojdeh"
                    target="_blank">Mojdeh Ratsgoo</a>.</li>
                </ul></p>
            </article>

            <article>
				<h2>BONJOUR !</h2>

			    <p>Nous sommes un groupe de femmes réunies par l’envie d’apprendre et de partager notre passion pour Python, dans un environnement accueillant.</p>

                <p>Nous pensons que tout le monde doit pouvoir apprendre à programmer en Python, et en tant que membre des PyLadies, le but de notre activité est principalement d’échanger avec des femmes passionnées de technologies, partager des connaissances avec elles, et leur donner la possibilité de se faire une place dans la tech.</p>

                <p>N'hésitez pas à nous rejoindre, quel que soit votre niveau en Python.</p>

                <h2>OÙ NOUS TROUVER ?</h2>
                <ul>
                    <li>Sur Meetup : <a
                    href="https://www.meetup.com/pyladiesparis"
                    target="_blank">pyladiesparis</a>.</li>
                    <li>Sur Twitter : <a
                    href="https://twitter.com/PyLadiesParis"
                    target="_blank">PyLadiesParis</a>.</li>
                    <li>Sur YouTube : <a
                    href="https://www.youtube.com/@pyladiesparis2639/streams"
                    target="_blank">PyLadies Paris</a>.</li>
                    <li>On Slack : <a
                    href="https://slackin.pyladies.com/"
                    target="_blank">PyLadies canal #city-paris</a>.</li>
                    <li>Sur GitHub : <a
                    href="https://github.com/PyLadiesParis"
                    target="_blank">Pyladies Paris</a>.</li>
                </ul>

                <h2>EQUIPE D'ORGANISATION</h2>
                <ul>
                    <li><a
                    href="http://maria.telenczuk.pl/"
                    target="_blank">Maria Teleczuk</a>.</li>
                    <li><a
                    href="https://www.linkedin.com/in/maudlevy/"
                    target="_blank">Maud Lévy</a>.</li>
                    <li><a
                    href="https://twitter.com/RastgooMojdeh"
                    target="_blank">Mojdeh Ratsgoo</a>.</li>
                </ul></p>
            </article>{% endblock %}
