{% extends "site.html" %}
{% block title %}PyLadies Santa Cruz de la Sierra{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Santa Cruz de La Sierra</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/santacruzdelasierra") }}">Santa Cruz de La Sierra, Bolivia</a> | <a class="icon-mail4" data-icon="&#59170;" href="mailto:santacruzdelasierra@gmail.com" title="Contact"></a>  <a class="icon-meetup" data-icon="&#59649;" title="Meetup" href="https://www.meetup.com/pyladies-santa-cruz-de-la-sierra/"></a>  <a class="icon-facebook" data-icon="&#60048;" title="Facebook" href="https://www.facebook.com/profile.php?id=61592250856601"></a>  <a class="icon-instagram" data-icon="&#60050;" title="Instagram" href="https://www.instagram.com/pyladiessantacruzbolivia/"></a></h4>
                    </aside>
                </ul>
            </article>
    </section>
    <section>
        <h2>Welcome!</h2>
        <article>
            PyLadies Santa Cruz de La Sierra is a community group focused on promoting Python and open source, with a special focus on empowering women and underrepresented genders in tech. We welcome anyone interested in learning, teaching, and growing together in the Python community.<br> <br>
                <li>Email: <a href="mailto:santacruzdelasierra@gmail.com">santacruzdelasierra@gmail.com</a>. </li>
                <li>Meetup: <a href="https://www.meetup.com/pyladies-santa-cruz-de-la-sierra/">PyLadies Santa Cruz de la Sierra</a>. </li>
                <li>Facebook: <a href="https://www.facebook.com/profile.php?id=61592250856601">facebook.com/PyLadies Santa Cruz</a>. </li>
                <li>Instagram: <a href="https://www.instagram.com/pyladiessantacruzbolivia/">@pyladiessantacruzbolivia</a>. </li>
                <li>LinkedIn: <a href="https://www.linkedin.com/company/pyladies-santa-cruz/">PyLadies Santa Cruz</a>. </li>
        </article>
    </section>
{% endblock %}