{% extends "site.html" %}
{% block title %}PyLadies Tunisia{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Tunisia</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/tunisia") }}">Tunisia</a> | <a class="social icon facebook" data-icon="&#62221;" href="https://www.facebook.com/groups/458792744204403/" title"Facebook"></a></h4> 
                </aside>
                </ul>
            </article>
    </section>
{% endblock %}