{% extends "site.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <section id="archive">
        <h1>Locations - Under Construction</h1>
            <article>
                <ul class="social">
                    <h3><a href="{{ get_url("locations/atl") }}">Atlanta, Georgia</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:atl@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesATL"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiesATL"></a></h3> 

                    <h3><a href="{{ get_url("locations/atx") }}">Austin, Texas</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:la@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesATX"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-atx"></a></h3>

                    <h3><a href="{{ get_url("locations/cz") }}">Brno, Czech Republic</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:brno@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesCZ"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiescz"></a></h3>

                    <h3><a href="{{ get_url("locations/la") }}">Los Angeles, California</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:esther@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesLA"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/la-pyladies"></a></h3>

                    <h3><a href="{{ get_url("locations/nyc") }}">New York, NY</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:nyc@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesNYC"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/nyc-pyladies"></a></h3>

                    <h3><a href="{{ get_url("locations/pdx") }}">Portland, Oregon</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:pdx@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladies_pdx"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-pdx"></a></h3>

                    <h3><a href="{{ get_url("locations/sd") }}">San Diego, California</a> | <a class="social icon vcard" data-icon="&#59170;" title="Contact" href="mailto:juliet.oberding@gmail.com"><a class="social icon location" data-icon="&#59172;" href="http://www.meetup.com/sd-pyladies" title="Meetup Link"></a></h3>

                    <h3><a href="{{ get_url("locations/sf") }}">San Francisco</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:sf@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiessf"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiessf"></a></h3>

                    <h3><a href="{{ get_url("locations/sea") }}">Seattle, Washington</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:seattle-pyladies@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesSEA"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/seattle-pyladies"></a></h3><br />

                    <h3><a href="{{ get_url("locations/toronto") }}">Toronto</a> | Coming Soon! </h3>

                    <h3><a href="{{ get_url("locations/dc") }}">Washington, DC</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:dc@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/dc-pyladies"></a></h3>
            </ul>
            </article>
    </section>
{% endblock %}