{% extends "site.html" %}
{% block title %}PyLadies Taiwan{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Taiwan</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/la") }}">Taiwan</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:tw@pyladies.com" title"Contact"></a></h4> 

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}