{% extends "site.html" %}
{% block title %}PyLadies Taiwan{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Taiwan</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/tw") }}">Taiwan</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:tw@pyladies.com" title"Contact"></a><a class="social icon link" data-icon="&#128279;" href="http://tw.pyladies.com" title="tw link"><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/PyLadiesTW"></a></h4> 

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}