{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Resources</h1>
  <ul id="resource-types">
    <li><h3>Previous PyLadies Remote Classes</h3></li>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=nw9oGzZi8Hk">Learn Flask in your PJs!</a></li>
      <li><a href="https://www.youtube.com/watch?v=o4X9GUX0X3s">Introduction to Computational Linguistics with Python</a></li>
      <li><a href="https://www.youtube.com/watch?v=OAQAXVU1jIo">Your First Conference Proposal!</a></li>
      <li><a href="https://www.youtube.com/watch?v=u-mhKtC1Xh4">Python List Comprehensions</a></li>
      <li><a href="https://www.youtube.com/watch?v=Ka8HHl8sXck">From Guess and Check to Recursion!</a></li>
      <li><a href="https://www.youtube.com/watch?v=bZWOi2ddQ2g">Let's Learn Git in your PJs!</a></li>
      <li><a href="https://www.youtube.com/watch?v=TtGxnjxw4u0">Learn Python 3 in your PJs!</a></li>
      <li><a href="https://www.youtube.com/watch?v=ic8ygbac5lo">Introduction to Scraping and Scrapy</a></li>
      <li><a href="https://www.youtube.com/watch?v=DEYCRSj8zFo">Introduction to Django</a></li>
      <li><a href="https://www.youtube.com/watch?v=U9x52xxeDD4">Learn JavaScript in Your PJs!</a></li>
      <li><a href="https://www.youtube.com/watch?v=rX1PNp5eCfo">Learn Python in Your PJs!</a></li>
    </ul>
    <li><h3>Python</h3></li>
    <ul>
      <li><a href="http://www.codecademy.com/en/tracks/python">Codeacademy Python Track</a></li>
      <li><a href="http://learnpythonthehardway.org">Learn Python the Hard Way</a></li>
      <li><a href="https://www.youtube.com/watch?v=MirG-vJOg04">A Hands-on Introduction to Python for Beginning Programmers by Jessica McKellar</a></li>
      <li><a href="https://www.coursera.org/course/pythonlearn">Programming for Everybody (Python)</a></li>
    </ul>
    <li><h3>Web Development</h3></li>
    <ul>
      <li><a href="http://tutorial.djangogirls.org">Django Girls Tutorial</a></li>
      <li><a href="https://hellowebapp.com">Hello Web App by Tracy Osborn</a></li>
      <li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial</a></li>
      <li><a href="http://www.codecademy.com/en/tracks/web">Codeacademy HTML and CSS Track</a></li>
    </ul>
    <li><h3>Extra</h3></li>
    <li><a href="https://www.youtube.com/user/pykcunning/videos">"Programming in your PJ's!" screencasts by Katie Cunningham</a></li>
    <li><a href="https://www.youtube.com/channel/UC0hNd2uW8jTR5K3KBzRuG2A">Coding is for girls</a></li>
  </ul>
</div>
{% endblock %}
