{% extends "site.html" %}
{% block title %}PyLadies Vancouver{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Vancouver</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/vancouver") }}">Vancouver</a> | <a class="social icon vcard" data-icon="&#59170;" href="mailto:vancouver@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/pyladiesvan"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Vancouver/"></a></h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}