{% extends "site.html" %}
{% block title %}PyLadies Vancouver{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Vancouver</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/vancouver") }}">Vancouver</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:vancouver@pyladies.com" title="Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/pyladiesvan"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Vancouver/"></a></h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}