{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron text-center">
        <img id="logo" src="{{get_asset('images/remote-logo.svg')}}">
        <h1>PyLadies Remote</h1>
        <h3>A group with online classes for PyLadies living anywhere in the world! :) </h3>
    </div>
  </div>


  <div class="container marketing">

    <div class="row">

      <div class="col-sm-8">
        <h2>Our Mission</h2>
        <p>PyLadies is an international mentorship group with a focus on helping more women become active participants and leaders in the Python open-source community. PyLadies' mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings. PyLadies also aims to provide a friendly support network for women and a bridge to the larger Python world. Anyone with an interest in Python is encouraged to participate!</p>
        <p>PyLadies Remote was established with the idea in mind to reach those women interested in Python who don’t live near a PyLadies group. All of the PyLadies Remote classes will be online classes in order to be easily accessible for PyLadies all over the world.</p>
        <p>If you would like to teach a class for PyLadies Remote, have ideas for future classes, or questions, please get in touch at <a href="mailto:remote@pyladies.com">remote@pyladies.com</a>.</p>
        <h2>Recent Tweets <img src="{{ get_asset('images/twitter.png') }}" width=30 height=30></h2>
        <div class="twitter-feed">
          <a class="twitter-timeline" href="https://twitter.com/PyLadiesRemote" data-widget-id="606510265925050368">Tweets von @PyLadiesRemote </a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

      <div class="col-sm-4">
        <h2>Upcoming Events <img src="{{ get_asset('images/Eventbrite.png') }}" class="img-circle" width=30 height=30>
</h2>
        <!-- EventBrite widget -->
        <iframe  src="https://www.eventbrite.com/calendar-widget?eid=17362458581&showPrivate=1&sig=AGbIMNzoNM6vx-Bla8KaOvgsF1YpD2q0Jw" frameborder="0" height="351" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/ecal">Powered by Eventbrite</a></div>
        <!-- /EventBrite widget -->
      </div><!-- /.col-sm-4 -->

    </div><!-- /.row -->

  </div>

  <div class="container">
    <div id="organizers" class="row">
      <div class="col-sm-4 title">
        <h2>PyLadies Remote Organizers</h2>
      </div>
      <div class="col-sm-4">
        <a href="http://www.twitter.com/ossanna16"><img class="img-circle" src="{{ get_asset('images/Anna-thumb.png') }}" alt="@ossanna16"></a>
        <h2>Anna Ossowski</h2>
        <p>Anna works for Eldarion, helping them with community management and talent
          development. She is a director of the Python Software Foundation, PyCon Open Spaces-Chair,
          DjangoCon US Communications Chair, and group leader of the PyLadies Remote group.</p>
        <p>She is very passionate about diversity and community outreach and wants to encourage more women to
        learn programming because it's awesome! In her free time she writes a <a href="http://anna-oz.tumblr.com">blog</a>.
        You can follow Anna on Twitter at <a href="http://twitter.com/ossanna16">@ossanna16</a>.</p>
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
          <a href="http://www.twitter.com/ceaess">
              <img class="img-circle" src="{{ get_asset('images/Cea-thumb.png') }}" alt="@ceaess">
          </a>
        <h2>Cea Stapleton</h2>
        <p>
            Cea comes to software via a circuitous journey involving years of CSS and PHP hobbying,
            a degree in Religious Studies, another degree, and lots of meandering.
            She works primarily in Ruby by day and Python (and other languages) by, er, night.
            Cea enjoys Open Source software, co-organizing PyLadies Remote and her local Python meetup,
            running, swing dancing, biking, sewing and general tomfoolery.
            She's also always happy to add a little unapologetic awkwardness to most conversations.
        </p>
        <p>
            To view mostly nonsensical ramblings, see her on twitter <a
                href="http://twitter.com/ceaess">@ceaess</a>,
            otherwise more software activities are on <a href="http://github.com/ceaess">github</a>,
            <a href="http://gitlab.com/u/ceaess">gitlab</a>, and Cea's <a
                href="http://www.ceastapleton.com">website</a>.
        </p>

      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 PyLadies Remote</p>
    </footer>
  </div>
{% endblock %}
