{% extends "site.html" %}
{% block title %}PyLadies Seoul{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Seoul</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/seoul") }}">Seoul, Korea</a></h4>
                        <div class="chpts">
                            <a class="social icon vcard" data-icon="&#59170;" href="mailto:seoul@pyladies.com" title"Contact"></a>
                            <a class="social icon twitter" data-icon="&#62217;" title="Twitter Link" href="https://twitter.com/PyladiesSeoul"></a>
                            <a class="social icon facebook" data-icon="&#62221;" href="https://www.facebook.com/pyladieseoul" title"Facebook"></a>
                            <a class="social icon google-plus" data-icon="&#62223;" href="https://plus.google.com/106890062399007175692/posts" title"Google+"></a>
                        </div>
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
