{% extends "site.html" %}
{% block title %}PyLadies Poland{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Poland</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/pl") }}">Poland</a> |
                            <a class="social icon vcard" data-icon="&#59170;" href="mailto:poland@pyladies.com" title"Contact"></a>
                            <a class="social icon facebook" data-icon="&#62221;" target="_blank" href="https://www.facebook.com/pyladiespl" title="Facebook"></a>
                            <a class="social icon twitter" data-icon="&#62217;" target="_blank" title="Twitter" href="https://twitter.com/PyLadiesPL"></a>
                        </h4> 
                    </aside>
                </ul>
            </article>
    </section>
{% endblock %}
