{% extends "site.html" %}
{% block title %}PyLadies Montreal{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Montreal</h1>
            <article>
                <ul class="social">
                    <aside>
                        <h4><a href="{{ get_url("locations/mtl") }}">Montreal</a> | <a class="icon-mail4" data-icon="&#xea86;" href="mailto:montreal@pyladies.com" title"Contact"></a><a class="icon-twitter" data-icon="&#xea96;" title="Twitter" href="https://twitter.com/pyladiesmtl"></a><a class="icon-meetup" data-icon="&#xe901;" title="Meetup Link" href="http://www.meetup.com/PyLadiesMTL/"></a></h4>

                </aside>
                </ul>
            </article>
    </section>
{% endblock %}
