{% extends "site.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Locations</h1>
            <article class="chapters">
                <h3>PyLadies Locations</h3>
                <ul class="social">
                    <div class="chapter_location" data-meetup-id="9301202">
                        <img src="{{ get_asset('images/pyladies_amsterdam.jpeg') }}" alt="Amsterdam Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/amsterdam") }}">Amsterdam, The Netherlands</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:amsterdam@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/PyLadiesAMS"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadiesAMS"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="4507652">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Atlanta Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/atl") }}">Atlanta, GA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:atl@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesATL"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiesATL"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5947662">
                        <img src="{{ get_asset('images/pyladies_atx.jpeg') }}" alt="Austin Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/atx") }}">Austin, TX</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:atx@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesATX"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-atx"></a></h3>
                    </div>

		    <div class="chapter_location" data-meetup-id="9206152">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Bangalore Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/blr") }}">Bangalore, India</a></h3>
                        <h3 class="chpts"><a class="social icon link" data-icon="&#128279;" href="{{ get_url("locations/blr") }}" title="blore link"><a class="social icon vcard" data-icon="&#59170;" href="mailto:bangalore@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesblore"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyladiesBangalore/"></a></h3>
                    </div>

                    
                   <div class="chapter_location">
                        <img src="{{ get_asset('images/pyladies_berlin.png') }}" alt="Berlin Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="http://berlin.pyladies.com">Berlin, Germany</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:berlin@pyladies.com" title"Contact"></a></h3>
                    </div>
                    
                    <div class="chapter_location">
                        <img src="{{ get_asset('images/pyladies_boston_logo_2_white.png') }}" alt="Boston Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="http://boston.pyladies.com">Boston, MA</a></h3>
                        <h3 class="chpts"><a class="social icon link" data-icon="&#128279;" href="http://boston.pyladies.com" title="boston link"><a class="social icon vcard" data-icon="&#59170;" href="mailto:boston@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/PyLadiesBoston"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadies-Boston"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5160912">
                        <img src="{{ get_asset('images/pyladies_sd_brno.png') }}" alt="Brno Pyladies icon" width="120px" height="80px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/cz") }}">Brno, Czech Republic</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:brno@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesCZ"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiescz"></a></h3>
                    </div>
		    <div class="chapter_location" data-meetup-id="9042722">
                        <img src="{{ get_asset('images/pyladies_helsinki.png') }}" alt="Helsinki Pyladies icon" width="120px" height="80px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/helsinki") }}">Helsinki, Finland</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:helsinki@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Helsinki-Pyladies"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="2288171">
                        <img src="{{ get_asset('images/pyladies_la.jpeg') }}" alt="Los Angeles Pyladies icon" width="110px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/la") }}">Los Angeles, CA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:la@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesLA"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Pyladies-LA/"></a></h3>
                    </div>

                    <div class="chapter_location">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Montreal Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/mtl") }}">Montreal, Canada</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:montreal@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesMTL"></a>
			<a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/PyLadiesMTL/"></a></h3>
                    </div>
                    
                    <div class="chapter_location" data-meetup-id="7660062">
                        <img src="{{ get_asset('images/pyladies_nashville.jpeg') }}" alt="Nashville Pyladies icon" width="110px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/nash") }}">Nashville, TN</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:info@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/PyNashLadies"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Nashville-PyLadies"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="4576312">
                        <img src="{{ get_asset('images/pyladies_ny.png') }}" alt="New York Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="http://nyc.pyladies.com">New York, NY</a></h3>
                        <h3 class="chpts"><a class="social icon link" data-icon="&#128279;" href="http://nyc.pyladies.com" title="nyc link"><a class="social icon vcard" data-icon="&#59170;" href="mailto:nyc@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/NYCpyladies"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/nyc-pyladies"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="4808882">
                        <img src="{{ get_asset('images/pyladies_pdx.png') }}" alt="Portland Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="http://pyladiespdx.github.io">Portland, OR</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:pyladies.pdx@gmail.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladies_pdx"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-pdx"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="">
                        <img src="{{ get_asset('images/pyladies_sd_brno.png') }}" alt="Salt Lake PyLadies Icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/saltlake") }}">Salt Lake area, Utah</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:saltlake@pyladies.com" title"Contact"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5089102">
                        <img src="{{ get_asset('images/pyladies_sd_brno.png') }}" alt="San Diego Pyladies icon" width="120px" height="80px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/sd") }}">San Diego, CA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" title="Contact" href="mailto:juliet.oberding@gmail.com"><a class="social icon location" data-icon="&#59172;" href="http://www.meetup.com/sd-pyladies" title="Meetup Link"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="3604052">
                        <img src="{{ get_asset('images/pyladies_sf_logo.png') }}" alt="San Francisco Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/sf") }}">San Francisco, CA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:sf@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiessf"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiessf"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5411282">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Seattle Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/sea") }}">Seattle, WA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:seattle-pyladies@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesSEA"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/seattle-pyladies"></a></h3>
                    </div>
                    
                    <div class="chapter_location" data-meetup-id="8160762">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Stockholm Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/stockholm") }}">Stockholm, Sweden</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:stockholm@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiesstockholm"></a></h3>
                    </div>

                    <div class="chapter_location">
                        <img src="{{ get_asset('images/pyladies-seoul-logo.png') }}" alt="Seoul Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/stockholm") }}">Seoul, Korea</a></h3>
                        <h3 class="chpts">
                            <a class="social icon vcard" data-icon="&#59170;" href="mailto:seoul@pyladies.com" title"Contact"></a>
                            <a class="social icon twitter" data-icon="&#62217;" title="Twitter Link" href="https://twitter.com/PyladiesSeoul"></a>
                        </h3>
                    </div>

                    <div class="chapter_location">
                        <img src="{{ get_asset('images/pyladies-tw-logo.png') }}" alt="Taiwan Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="http://tw.pyladies.com">Taiwan</a></h3>
                        <h3 class="chpts"><a class="social icon link" data-icon="&#128279;" href="http://tw.pyladies.com" title="tw link"><a class="social icon vcard" data-icon="&#59170;" href="mailto:pyladies.tw@gmail.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="https://twitter.com/PyLadiesTW"></a></h3>
                    </div>
                    
                    <div class="chapter_location" data-meetup-id="6488102">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Toronto Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/toronto") }}">Toronto, Canada</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:info@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Pyladies-Toronto/"></a></h3>
                    </div>

                    <div class="chapter_location">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Tunisia Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/tunisia") }}">Tunisia</a></h3>
                        <h3 class="chpts"><a class="social icon facebook" data-icon="&#62221;" href="https://www.facebook.com/groups/458792744204403/" title"Facebook"></a></h3>
                    </div>
                    <!--TODO: Need to add Vancouver meetup ID in data-meetup-id below -->
                    <div class="chapter_location" data-meetup-id="">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Vancouver Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/vancouver") }}">Vancouver, Canada</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:vancouver@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesvan"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiesvan"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="7538042">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="Vienna Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/vienna") }}">Vienna, Austria</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:vienna@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladies_vie"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-vienna"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="2292131">
                        <img src="{{ get_asset('images/pyladies_dc_atl_sea_tor.png') }}" alt="DC Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/dc") }}">Washington, DC</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:dc@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/dc-pyladies"></a></h3>
                    </div>

            </ul>
            </article>

    </section>

{% endblock %}
