{% extends "site.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <section id="archive">
        <h1>PyLadies Locations</h1>
            <article class="chapters">
                <h3>PyLadies Locations</h3>
                <ul class="social">
                    <div class="chapter_location" data-meetup-id="4507652">
                        <img src="{{ get_asset('images/pyladies_sf_dc_atl_sea_tor.png') }}" alt="Atlanta Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/atl") }}">Atlanta, GA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:atl@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesATL"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiesATL"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5947662">
                        <img src="{{ get_asset('images/pyladies_atx.jpeg') }}" alt="Austin Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/atx") }}">Austin, TX</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:atx@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesATX"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-atx"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5160912">
                        <img src="{{ get_asset('images/pyladies_sd_brno.png') }}" alt="Brno Pyladies icon" width="120px" height="80px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/cz") }}">Brno, Czech Republic</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:brno@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesCZ"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiescz"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="2288171">
                        <img src="{{ get_asset('images/pyladies_la.jpeg') }}" alt="Los Angeles Pyladies icon" width="110px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/la") }}">Los Angeles, CA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:la@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesLA"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/la-pyladies"></a></h3>
                    </div>
                    <div class="chapter_location" data-meetup-id="4576312">
                        <img src="{{ get_asset('images/pyladies_ny.png') }}" alt="New York Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="http://nyc.pyladies.com">New York, NY</a></h3>
                        <h3 class="chpts"><a class="social icon link" data-icon="&#128279;" href="http://nyc.pyladies.com" title="nyc link"><a class="social icon vcard" data-icon="&#59170;" href="mailto:nyc@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesNYC"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/nyc-pyladies"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="4808882">
                        <img src="{{ get_asset('images/pyladies_pdx.jpeg') }}" alt="Portland Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/pdx") }}">Portland, OR</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:pyladies.pdx@gmail.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladies_pdx"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-pdx"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5089102">
                        <img src="{{ get_asset('images/pyladies_sd_brno.png') }}" alt="San Diego Pyladies icon" width="120px" height="80px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/sd") }}">San Diego, CA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" title="Contact" href="mailto:juliet.oberding@gmail.com"><a class="social icon location" data-icon="&#59172;" href="http://www.meetup.com/sd-pyladies" title="Meetup Link"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="3604052">
                        <img src="{{ get_asset('images/pyladies_sf_dc_atl_sea_tor.png') }}" alt="San Francisco Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/sf") }}">San Francisco, CA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:sf@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiessf"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladiessf"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="5411282">
                        <img src="{{ get_asset('images/pyladies_sf_dc_atl_sea_tor.png') }}" alt="Seattle Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/sea") }}">Seattle, WA</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:seattle-pyladies@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladiesSEA"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/seattle-pyladies"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="6488102">
                        <img src="{{ get_asset('images/pyladies_sf_dc_atl_sea_tor.png') }}" alt="Toronto Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/toronto") }}">Toronto, Canada</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:info@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/Pyladies-Toronto/"></a></h3>
                    </div>

                    <div class="chapter_location" data-meetup-id="2292131">
                        <img src="{{ get_asset('images/pyladies_sf_dc_atl_sea_tor.png') }}" alt="DC Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/dc") }}">Washington, DC</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:dc@pyladies.com" title"Contact"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/dc-pyladies"></a></h3>
                    </div>
                    <div class="chapter_location" data-meetup-id="7538042">
                        <img src="{{ get_asset('images/pyladies_sf_dc_atl_sea_tor.png') }}" alt="Vienna Pyladies icon" width="100px" height="100px" />
                        <h3 class="chpts"><a href="{{ get_url("locations/vienna") }}">Vienna, Austria</a></h3>
                        <h3 class="chpts"><a class="social icon vcard" data-icon="&#59170;" href="mailto:vienna@pyladies.com" title"Contact"></a><a class="social icon twitter" data-icon="&#62217;" title="Twitter" href="http://twitter.com/pyladies_vie"></a><a class="social icon location" data-icon="&#59172;" title="Meetup Link" href="http://www.meetup.com/pyladies-vienna"></a></h3>
                    </div>
            </ul>
            </article>

    </section>

{% endblock %}
